<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MQTT Topics</title>
</head>
<body>
<div style="font-size: medium;">
    System Uptime: <b>{{ SystemUpTime }}</b> <br><br>
    System Temperature: <b>{{ SystemTemperature }}</b> <br><br>
    Environmental Temperature: <b>{{ EnvironmentTemperature }}</b> <br><br>
    Pressure: <b>{{ Pressure }}</b> <br><br>
    Altitude: <b>{{ Altitude }}</b> <br><br>
    Humidity: <b>{{ Humidity }}</b> <br><br>
    Distance: <b>{{ Distance }}</b> <br><br>
    Gas: <b>{{ Gas }}</b> <br><br>
    ParticulateMatter: <b>{{ ParticulateMatter }}</b> <br><br>
    Lumen: <b>{{ Lumen }}</b> <br><br>
    Color: <b>{{ Color }}</b> <br><br>
    UltraViolet: <b>{{ UltraViolet }}</b> <br><br>
    Accelerometer: <b>{{ Accelerometer }}</b> <br><br>
    Magnetometer: <b>{{ Magnetometer }}</b> <br><br>
    Gyroscope: <b>{{ Gyroscope }}</b> <br><br>
</div>
</body>
</html>
