    <tr>
        <th><span style="background-color: #f2f2f2;">_{{ SensorName }}_</span></th>
        <th><span style="background-color: #f2f2f2;">
            <a href='https://{{ IPAddress }}:10065/SensorInformation' target='_blank'>
                _{{ IPAddress }}_
            </a>
        </span></th>
        <th><span style="background-color: #ccffcc;">_{{ SensorResponseTime }} Seconds_</span></th>
        <th><span style="background-color: #ccffcc;">_{{ SensorDateTime }}_</span></th>
        <th><span style="background-color: #0099ff;">_{{ WifiNetwork }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ DebugLogging }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ Display }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ IntervalRecording }} / {{ IntervalSeconds }} Sec_</span></th>
        <th><span style="background-color: #F4A460;">_{{ TriggerRecording }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ EnableTemperatureOffset }} / {{ TemperatureOffset }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ WeatherUnderground }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ Luftdaten }}_</span></th>
        <th><span style="background-color: #F4A460;">_{{ OpenSenseMap }}_</span></th>
        <th><span style="background-color: #b3b3b3;">_{{ InstalledSensors }}_</span></th>
    </tr>
