    <tr>
        <th><span style="background-color: #f2f2f2;">_{{ SensorName }}_</span></th>
        <th><span style="background-color: #f2f2f2;">
            <a href='https://{{ IPAddress }}:10065/SensorInformation' target='_blank'>
                _{{ IPAddress }}_
            </a>
        </span></th>
        <th><span style="background-color: {{ ResponseBackground }};">_{{ SensorResponseTime }} Seconds_</span></th>
        <th><span style="background-color: #ccffcc;">_{{ SensorDateTime }}_</span></th>
        <th><span style="background-color: {{ WifiNetworkColour }};">_{{ WifiNetwork }}_</span></th>
        <th><span style="background-color: {{ DebugLoggingColour }};">_{{ DebugLogging }}_</span></th>
        <th><span style="background-color: {{ DisplayColour }};">_{{ Display }}_</span></th>
        <th><span style="background-color: {{ IntervalRecordingColour }};">_{{ IntervalRecording }} / {{ IntervalSeconds }} Sec_</span></th>
        <th><span style="background-color: {{ TriggerRecordingColour }};">_{{ TriggerRecording }}_</span></th>
        <th><span style="background-color: {{ EnableTemperatureOffsetColour }};">_{{ EnableTemperatureOffset }} / {{ TemperatureOffset }}_</span></th>
        <th><span style="background-color: {{ WeatherUndergroundColour }};">_{{ WeatherUnderground }}_</span></th>
        <th><span style="background-color: {{ LuftdatenColour }};">_{{ Luftdaten }}_</span></th>
        <th><span style="background-color: {{ OpenSenseMapColour }};">_{{ OpenSenseMap }}_</span></th>
        <th style="text-align: left;"><span style="background-color: #b3b3b3;">_{{ InstalledSensors }}_</span></th>
    </tr>
