<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors System Report</title>
    <style>
        table {
            border: 3px solid white;
            border-collapse: collapse;
        }

        th {
            padding: 5px;
            text-align: center;
        }

        body {
            background-color: #000000;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<h2><strong><a style="text-decoration: underline; color: red" href="/SensorControlManage">
    Back to Sensor Control
</a></strong></h2>
<h3><strong>
        <span style='color: #F4A460;'>Date Taken: {{ DateTime }}</span>
        <br>
        <span style='font-size: 14px; color: #F4A460;'>Date Format: YYYY-MM-DD hh:mm - Time Zone</span>
    </strong></h3>
<table>
    <tr>
        <th><span style="background-color: #00ffff;">_Sensor Name_</span></th>
        <th><span style="background-color: #00ffff;">_Sensor ID_</span></th>
        <th><span style="background-color: #00ffff;">_IP Address_</span></th>
        <th><span style="background-color: #00ffff;">_Sensor Response Time_</span></th>
        <th><span style="background-color: #00ffff;">_Sensor Date & Time_</span></th>
        <th><span style="background-color: #00ffff;">_CPU Temp_</span></th>
        <th><span style="background-color: #00ffff;">_RAM % Used_</span></th>
        <th><span style="background-color: #00ffff;">_SQL DB Size / Free Disk Space_</span></th>
        <th><span style="background-color: #00ffff;">_Program Version_</span></th>
        <th><span style="background-color: #00ffff;">_Operating System_</span></th>
        <th><span style="background-color: #00ffff;">_System UpTime_</span></th>
        <th><span style="background-color: #00ffff;">_Last Updated_</span></th>
    </tr>
    <tr>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
    </tr>
