<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors Configuration Report</title>
    <style>
        table {
            border: 3px solid white;
            border-collapse: collapse;
        }

        th {
            padding: 5px;
            text-align: center;
        }

        body {
            background-color: #000000;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<h2><strong><a style="text-decoration: underline; color: red" href="/SensorControlManage">
    Back to Sensor Control
</a></strong></h2>
<table>
    <tr>
        <th><span style="background-color: #00ffff;">Sensor Name</span></th>
        <th><span style="background-color: #00ffff;">IP Address</span></th>
        <th><span style="background-color: #00ffff;">Sensor Response Time</span></th>
        <th><span style="background-color: #00ffff;">Sensor Date & Time</span></th>
        <th><span style="background-color: #00ffff;">WiFi Network</span></th>
        <th><span style="background-color: #00ffff;">Debug Logging</span></th>
        <th><span style="background-color: #00ffff;">Display</span></th>
        <th><span style="background-color: #00ffff;">Interval Recording</span></th>
        <th><span style="background-color: #00ffff;">Trigger Recording</span></th>
        <th><span style="background-color: #00ffff;">Temperature Offset</span></th>
        <th><span style="background-color: #00ffff;">Weather Underground</span></th>
        <th><span style="background-color: #00ffff;">Luftdaten</span></th>
        <th><span style="background-color: #00ffff;">Open Sense Map</span></th>
        <th style="text-align: left;"><span style="background-color: #00ffff;">Installed Sensors</span></th>
    </tr>
    <tr>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="color: grey;">-----</th>
        <th style="text-align: left; color: grey;">-----</th>
    </tr>
