[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gevent = "*"
gpiozero = "*"
smbus2 = "*"
sense_hat = "*"
envirophat = "*"
bme680 = "*"
bh1745 = "*"
lsm303d = "*"
vl53l1x = "*"
