# Required Sensor Program Modules
psutil
gpiozero
flask
gevent
# Sensor Hardware Modules
envirophat
sense_hat
bme680
bh1745
lsm303d
# smbus2 is needed by vl53l1x only
smbus2
smbus
vl53l1x
ltr559
as7262
