# Required Sensor Program Modules
werkzeug
psutil
requests
gpiozero
flask
Flask-Compress
Flask-HTTPAuth
gevent
plotly
# Sensor Hardware Modules
envirophat
enviroplus
sense_hat
bme680
bmp280
as7262
bh1745
lsm303d
icm20948
smbus2
smbus
#vl53l1x
ltr559
veml6075
luma.oled
matrix11x7
st7735
