# Required Sensor Program Modules
gpiozero
pyserial
spidev
smbus
smbus2
flask
Flask-Compress
Flask-HTTPAuth
gevent
werkzeug
psutil
requests
plotly >= 4.0.0
# Sensor Hardware Modules
# All Commented out Modules are included in the main app folder
# Commented Modules are left for requirement reference
luma.core
luma.oled
#sense_hat
#bme680
#bmp280
#as7262
#bh1745
#vl53l1x
#ltr559
#envirophat
#lsm303d
#icm20948
#veml6075
#matrix11x7
#st7735
#enviroplus
