[Unit]
Description=KootNet Sensors - Clean Upgrade Process Online

[Service]
Type=simple
Restart=no
User=root
Group=root
ExecStart=/bin/bash /home/kootnet_data/scripts/clean_upgrade_http.sh

[Install]
WantedBy=multi-user.target
