[Unit]
Description=KootNet Sensors - Interval SQL Recording
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/kootnet-sensors
RestartSec=3s
User=root
Group=pi
ExecStart=/usr/bin/python3 /opt/kootnet-sensors/record_to_db.py

[Install]
WantedBy=multi-user.target
