[Unit]
Description=KootNet Sensors - Network Commands
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/kootnet-sensors
RestartSec=3s
User=root
Group=pi
ExecStart=/home/kootnet_data/python-env/bin/python /opt/kootnet-sensors/http_server.py

[Install]
WantedBy=multi-user.target
