[Unit]
Description=KootNet Sensors - lighttpd Instance
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
User=pi
Group=pi
ExecStart=/usr/sbin/lighttpd -D -f /opt/kootnet-sensors/lighttpd.conf

[Install]
WantedBy=multi-user.target
