[Unit]
Description=KootNet Sensors - Interval SQL Recording
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/sensors
RestartSec=5s
User=root
Group=pi
ExecStart=/usr/bin/python3 /home/sensors/interval_to_db.py

[Install]
WantedBy=multi-user.target
