<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Sensor Management</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="/mui.min.js"></script>
    <link href="/mui-colors.min.css" rel="stylesheet" type="text/css" />

    <style>
        table {
            border: 3px solid white;
            border-collapse: collapse;
        }

        td {
            padding: 5px;
        }

        body {
            background-color: #000000;
        }
    </style>
</head>
<body>
    <div class="mui-panel mui--bg-color-black">
        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200" onclick="window.location.href = '/index';">Home</button>
        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200" onclick="window.location.href = '/SensorInformation';">Sensor Information</button>
        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200" onclick="window.location.href = '/TestSensor';">View Sensor Readings</button>
        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200" onclick="window.location.href = '/SystemCommands';">System Commands</button>
        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200" onclick="window.location.href = '/logout';">Logout</button>
    </div>
<!--    <hr>-->
    {% block content %}{% endblock %}
</body>
</html>
