<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Sensor Management</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="/mui.min.js"></script>
    <style>
        head {
            color: #F50057;
            background-color: #000000;
        }
        body {
            color: #F50057;
            background-color: #000000;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="mui-panel">
        <button class="mui-btn mui-btn--raised"><a href="/index">Home</a></button>
        <button class="mui-btn mui-btn--raised"><a href="/SensorInformation">Sensor Information</a></button>
        <button class="mui-btn mui-btn--raised"><a href="/TestSensor">View Sensor Readings</a></button>
        <button class="mui-btn mui-btn--raised"><a href="/SystemCommands">System Commands</a></button>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
