{% extends "base.html" %}


{% block content %}

<h1>View & Edit Configurations</h1>

<div class="mui-dropdown">
    <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
        Pick Configuration
        <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu">
        <li><a href="/GetPrimaryLogHTML" target="_blank">Main Configuration</a></li>
        <li><a href="/GetNetworkLogHTML" target="_blank">Installed Sensors</a></li>
        <li><a href="/GetSensorsLogHTML" target="_blank">Wifi</a></li>
        <li><a href="/GetSensorsLogHTML" target="_blank">Trigger Variances</a></li>
    </ul>
</div>

{% endblock %}
