{% extends "base.html" %}

{% block content %}

    <style>
        .mui-form {
            background-color: #00B0FF;
        }

        .mui-col-md-4 {
            width: 275px;
        }

        .mui-checkbox {
            display: inline-block;
        }
    </style>

    <ul class="mui-tabs__bar">
        <li class="mui--is-active">
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="primary-config-tab">
                Main
            </a>
        </li>

        <li>
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="installed-sensors-tab">
                Installed Sensors
            </a>
        </li>

        <li>
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="recording-tab">
                SQL Recording
            </a>
        </li>
    </ul>

    <br>

    {{ ConfigPrimaryTab|safe }}

    <div class="mui-tabs__pane" id="recording-tab">
        <ul class="mui-tabs__bar">
            <li class="mui--is-active">
                <a style="color: orange; background-color: #212121;" data-mui-toggle="tab"
                   data-mui-controls="interval-recording-config-tab">
                    Interval Recording
                </a>
            </li>

            <li>
                <a style="color: orange; background-color: #212121;" data-mui-toggle="tab"
                   data-mui-controls="trigger-high-low-config-tab">
                    High/Low Triggers
                </a>
            </li>

            <li>
                <a style="color: orange; background-color: #212121;" data-mui-toggle="tab"
                   data-mui-controls="trigger-variances-config-tab">
                    Variances Trigger
                </a>
            </li>
        </ul>

        <div class="mui-tabs__pane mui--is-active" id="interval-recording-config-tab">
            {{ ConfigIntervalRecordingTab|safe }}
        </div>

        <div class="mui-tabs__pane" id="trigger-high-low-config-tab">
            {{ ConfigTriggerHighLowTab|safe }}
        </div>

        <div class="mui-tabs__pane" id="trigger-variances-config-tab">
            {{ ConfigTriggerVariancesTab|safe }}
        </div>
    </div>

    {{ ConfigInstalledSensorsTab|safe }}

{% endblock %}
