<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>Kootnet Sensor Live Graphs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/Chart.min.js"></script>
    <link href="/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/mui-colors.min.css" rel="stylesheet" type="text/css"/>
</head>
<body style="background: black;">
<div>
    <form class="mui-form" method="POST" action="/LiveGraphView">
        <fieldset style="text-align: center;">
            <br>
            <h3 style="color: red;">Sensor: {{ SensorName }}</h3>
            <h4 style="color: red;">Viewing up to {{ TotalSQLEntries }} data points per Sensor</h4>
            <h4 style="color: red;">UTC Offset {{ UTCOffset }}</h4>
            <div class="mui-textfield">
                <label style="color: red; font-size: medium;">Hours Displayed<br><br>
                    <input style="width: 70px;" type="number" min="0.001" max="8760.0" step="any"
                           name="graph_hours" required value="{{ GraphPastHours }}" {{ HoursDisplayedDisabled }}>
                </label>
            </div>
            <br>
            <button type="submit" class="mui-btn mui-btn--raised">Refresh</button>
        </fieldset>
    </form>
</div>
{{ GraphHTMLCode |safe }}
</body>
<script>
    {{ GraphJSCode |safe }}
</script>
</html>
