<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kootnet Sensors</title>
</head>

<style>
    body {background-color: black;}
    a {color: lightblue;}
    b {color: red;}
    p {color: white;}

    #SensorID {color: white; text-decoration: none; cursor: default;}
</style>

<body>
    <h1><strong><u><a style="color: red;" href="/">Kootnet Sensors</a></u></strong></h1>

    <h4><a href="/atpro/">Click Here to proceed to the Main Interface</a></h4>

    <br>

    <p>
        <b>SensorID:</b> <a id="SensorID" href="/LCARS/">{{ SensorID }}</a><br><br>
        <b>Version:</b> {{ KootnetVersion }}<br><br>
        <b>HostName (Sensor Name):</b> {{ HostName }}<br><br>
        <b>Local IP:</b> {{ LocalIP }}<br><br>
        <b>Disk Space:</b> {{ DiskSpaceMessage | safe }}<br>
        <b>Program Memory Usage:</b> {{ MemoryUsed }} MB<br><br>
        <b>Sensor's DateTime with TimeZone:</b>  {{ DateTime }}<br>
        <b>Sensor's DateTime in UTC0:</b>  {{ DateTimeUTC }}
    </p>
</body>
</html>
