<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kootnet Sensors</title>
</head>
<body style="background-color: black;">
    <h1 style="color: red;"><strong><u>Kootnet Sensors</u></strong></h1>
    <h4><a style="color: purple;" href="/SensorInformation">Click Here to proceed to the Main Interface</a></h4>
    <p style="color: white;">
        <b style="color: red;">SensorID:</b> {{ SensorID }}<br><br>
        <b style="color: red;">Version:</b> {{ KootnetVersion }}<br><br>
        <b style="color: red;">HostName (Sensor Name):</b> {{ HostName }}<br><br>
        <b style="color: red;">Local IP:</b> {{ LocalIP }}<br><br>
        <b style="color: red;">Disk Space:</b> {{ DiskSpaceMessage | safe }}<br><br>
        <b style="color: red;">Sensor's DateTime with TimeZone:</b>  {{ DateTime }}<br>
        <b style="color: red;">Sensor's DateTime in UTC0:</b>  {{ DateTimeUTC }}
    </p>
</body>
</html>
