{% extends "base.html" %}

{% block content %}

    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
            onclick="window.location.href = '/DownloadZippedLogs';">
        Download All Logs
    </button>

    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" style="left: 50px;" data-mui-toggle="dropdown">
            Clear Log
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu" style="left: 50px;">
            <li><a href="/DeletePrimaryLog">Primary</a></li>
            <li><a href="/DeleteNetworkLog">Network</a></li>
            <li><a href="/DeleteSensorsLog">Sensors</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <ul class="mui-tabs__bar">
        <li class="mui--is-active"><a style="color: red; background-color: #212121;" data-mui-toggle="tab"
                                      data-mui-controls="primary-log-tab">
            Primary Log
        </a></li>
        <li><a style="color: red; background-color: #212121;" data-mui-toggle="tab" data-mui-controls="network-log-tab">
            Network Log
        </a></li>
        <li><a style="color: red; background-color: #212121;" data-mui-toggle="tab" data-mui-controls="sensors-log-tab">
            Sensors Log
        </a></li>
    </ul>

    <div class="mui-tabs__pane mui--is-active" id="primary-log-tab">
        <div class="mui-container-fluid">
            <h2 style="color: #90CAF9;"><u>{{ PrimaryLogLinesText }} Primary Log</u></h2><br>
            <span style="color: greenyellow; white-space: pre-wrap;">{{ PrimaryLog }}</span>
        </div>
    </div>

    <div class="mui-tabs__pane" id="network-log-tab">
        <div class="mui-container-fluid">
            <h2 style="color: #90CAF9;"><u>{{ NetworkLogLinesText }} Network Log</u></h2><br>
            <span style="color: greenyellow; white-space: pre-wrap;">{{ NetworkLog }}</span>
        </div>
    </div>

    <div class="mui-tabs__pane" id="sensors-log-tab">
        <div class="mui-container-fluid">
            <h2 style="color: #90CAF9;"><u>{{ SensorsLogLinesText }} Sensors Log</u></h2><br>
            <span style="color: greenyellow; white-space: pre-wrap;">{{ SensorsLog }}</span>
        </div>
    </div>

{% endblock %}
