{% block content %}
    <link href="/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/MenuStyle.css" rel="stylesheet" type="text/css"/>
    <script src="/mui.min.js"></script>
    <link href="/mui-colors.min.css" rel="stylesheet" type="text/css"/>

    <meta http-equiv="refresh" content="10; url = {{ PageURL }}"/>

    <script>
        function ClearMQTTSubLogs() {
            let r = confirm("This cannot be undone, are you sure?");
            if (r === true) {
                window.location = "/ClearMQTTSubscriberLog"
            }
        }
    </script>

    <fieldset style="text-align: center; max-width: 850px;">
        <div>
            <h3><u><strong>
                <a style="color: red;" href="{{ PageURL }}">MQTT Subscriber Topic Posts</a>
            </strong></u></h3>

            <h4 style="color: #F4A460;">This will automatically refresh every 10 seconds</h4>

            <br>


            <a style="color: {{ MQTTEnabledColor }}; text-decoration: none; font-size: large;">
                <b>{{ MQTTSubscriberEnabledText }}</b>
            </a>

            <br>
            <br>

            <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                    onclick="ClearMQTTSubLogs();">
                Clear Log
            </button>

            <br>
            <br>

            <a style="color: red;" target="_blank"
               href="https://mosquitto.org/man/mqtt-7.html">
                MQTT Data from Subscribed Topics on Broker {{ MQTTSubscriberServerAddress }}
            </a>
            <p style="color: red;">Sensors in MQTT Subscriber Database: {{ SQLMQTTSensorsInDB }}</p>
            <br>
            <br>
            <span style="color: greenyellow; white-space: pre-wrap;">{{ SubscriberTopics }}</span>
        </div>
    </fieldset>
{% endblock %}
