{% extends "base.html" %}

{% block content %}

<style>
    span {white-space: nowrap;}
    a:visited {color: #0705ff;}
    a:link {color: #0705ff;}
</style>

<h2><strong><span style="text-decoration: underline;">
    <a href='/TestSensor' style='color: red'>{{ HostName }} - {{ IPAddress }}</a>
</span></strong></h2>

<h3><strong>
    <span style='color: #F4A460;'>Date Taken: {{ DateTime }}</span>
    <br>
    <span style='font-size: 14px; color: #F4A460;'>Date Format: YYYY-MM-DD hh:mm - Time Zone</span>
</strong></h3>

<div class="mui-container-fluid" style="font-weight: bold; font-size: large;">
    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Temperature"
            target="_blank">System Temperature
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ CPUTemperature }} °C</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Temperature"
            target="_blank">Env Temperature
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ EnvTemperature }} °C</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">Env Temp Offset</div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ EnvTemperatureOffset }} °C</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Pressure"
            target="_blank">Pressure
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Pressure }} hPa</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Altitude"
            target="_blank">Altitude
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Altitude }} Meters</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Humidity"
            target="_blank">Humidity
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Humidity }} %RH</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Distance"
            target="_blank">Distance
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Distance }} ?</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">Gas Resistance</div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ GasResistanceIndex }} Ohms</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Oxidation_state"
            target="_blank">Nitrogen Dioxide - Oxidising
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ GasOxidising }} ppm</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Reduced_gas"
            target="_blank">Carbon Monoxide - Reducing
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ GasReducing }} ppm</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Ammonia"
            target="_blank">Ammonia - NH3
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ GasNH3 }} ppm</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Particulates"
            target="_blank">Particulate Matter 1.0
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ PM1 }} μg/m3</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Particulates"
            target="_blank">Particulate Matter 2.5
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ PM25 }} μg/m3</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Particulates"
               target="_blank">Particulate Matter 10
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ PM10 }} μg/m3</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Lumen_(unit)"
               target="_blank">Lumen
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Lumen }} lm</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Light"
               target="_blank">Red
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Red }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Light"
               target="_blank">Orange
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Orange }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Light"
               target="_blank">Yellow
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Yellow }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Light"
               target="_blank">Green
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Green }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Light"
               target="_blank">Blue
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Blue }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Light"
               target="_blank">Violet
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Violet }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Electromagnetic_spectrum"
               target="_blank">Ultra Violet A
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ UVA }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Electromagnetic_spectrum"
               target="_blank">Ultra Violet B
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ UVB }}</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Accelerometer"
               target="_blank">Accelerometer XYZ
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Acc }} g</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Magnetometer"
               target="_blank">Magnetometer XYZ
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Mag }} μT</div>
    </div>

    <div class="mui-row">
        <div class="mui-col-md-3" style="background-color: #00ffff">
            <a href="https://en.wikipedia.org/wiki/Gyroscope"
               target="_blank">Gyroscope XYZ
            </a>
        </div>
        <div class="mui-col-md-4" style="background-color: #0BB10D">{{ Gyro }} °/s</div>
    </div>
</div>

{% endblock %}
