{% extends "base.html" %}

{% block content %}

    <h2><a href="/SensorControlManage" style="color: red; text-decoration: underline;">
        Back to Sensor Control
    </a></h2>

    <h3 style="color: red;">
        Sensors Address, Response Time & Name
    </h3>
    <table>
        <tr>
            <th><span style='background-color: #00ffff;'>Address</span></th>
            <th><span style='background-color: #00ffff;'>Response Time</span></th>
            <th><span style='background-color: #00ffff;'>Sensor Name</span></th>
        </tr>
        <tr>
            <th style="color: grey;">-----</th>
            <th style="color: grey;">-----</th>
            <th style="color: grey;">-----</th>
        </tr>
        {{ SensorResponse|safe }}
    </table>

{% endblock %}
