{% block content %}

    <br>
    <ul class="mui-tabs__bar">
        <li class="mui--is-active">
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="single-config-tab">
                Configuration
            </a>
        </li>

        <li>
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="multi-config-tab">
                Multi (Zip)
            </a>
        </li>

        <li>
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="online-services-config-tab">
                3rd Party Services
            </a>
        </li>
    </ul>

    <div class="mui-tabs__pane mui--is-active" id="single-config-tab">
        <form class="mui-form" method="POST"
              style="max-width: 550px; min-height: 300px;">
            <br>
            <fieldset style="text-align: center; background-color: #00B0FF;">
                <label for="config_selection" style="font-size: medium;">Select Configuration<br></label>
                <select style="font-size: medium;" name="config_selection" id="config_selection"
                        onchange="ConfigChange()">
                    <option value="primary">Primary</option>
                    <option value="installed_sensors">Installed Sensors</option>
                    <option value="interval_recording">Interval Recording</option>
                    <option value="variance_trigger_recording">Variance Trigger Recording</option>
                    <option value="high_low_recording">High/Low Trigger Recording</option>
                    <option value="display">Display</option>
                    <option value="email">Email</option>
                    <option value="wifi">wpa_supplicant.conf (Wifi)</option>
                    <option value="network">dhcpcd.conf (Network)</option>
                </select>

                <br>
                <br>

                <label>Text Configuration<br>
                <textarea name="new_config_str" id="new_config_str" style="min-width: 450px; min-height: 350px;">{{ InitialPrimaryConfig }}</textarea>
                </label>

                <br>

                <button type="submit" formaction="/PushConfiguration" class="mui-btn mui-btn--raised">Send Configuration</button>
            </fieldset>
        </form>
    </div>

    <div class="mui-tabs__pane" id="multi-config-tab">
        <br>
        <fieldset style="text-align: center;">
            <button type="button" class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200">
                Download local sensors configs as a zip
            </button>

            <br>
            <br>

            <form method="post" enctype="multipart/form-data">
                <label style="color: red;">Zip of Configurations<br><br>
                    <input style="color: #00B0FF;" type="file" name="command_data" accept=".zip" required>
                </label>
                <br>
                <br>
                <button type="submit" formaction="/PushConfigurationZip" class="mui-btn mui-btn--raised" disabled>
                    Send Configurations
                </button>
            </form>
        </fieldset>
    </div>

    <div class="mui-tabs__pane" id="online-services-config-tab">
        <br>
        <fieldset style="text-align: center;">
            <div class="mui-container-fluid" style="background-color: #00B0FF;">
                <h2><u><a style="color: black;">Online Service Configuration</a></u></h2>
                <h5><b>
                    This will update Configurations on ALL listed Sensors for the selected Online Service
                </b></h5>
                <label>Choose 3rd Party Service to Update</label>
                <div class="mui-radio">
                    <label class="container_radio" style="font-size: small;">
                        <input type="radio" name="online_service_selected_action" value="weather_underground"
                               checked>
                        Weather Underground
                        <span class="checkmark_radio"></span>
                    </label>
                    <label class="container_radio" style="font-size: small;">
                        <input type="radio" name="online_service_selected_action" value="luftdaten">
                        Luftdaten
                        <span class="checkmark_radio"></span>
                    </label>
                    <label class="container_radio" style="font-size: small;">
                        <input type="radio" name="online_service_selected_action" value="open_sense_map">
                        Open Sense Map
                        <span class="checkmark_radio"></span>
                    </label>
                </div>
                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="enable_online_service" value="">
                        Enable Selected Online Service
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>
                <br>
                <div class="mui-textfield">
                    <label style="color: black;">
                        Seconds between Updates
                        <br>
                        <input style="width: 75px;" type="number" min="1" name="online_service_interval"
                               value="900.0">
                    </label>
                </div>
                <br>
                <button type="submit" class="mui-btn mui-btn--raised" formaction="/SetActiveOnlineServices">
                    Send Update
                </button>
            </div>
        </fieldset>
    </div>

    <script>

    function ConfigChange() {
        let primary_config = '{{ DefaultPrimaryText }}';
        let installed_sensors_config = '{{ DefaultInstalledSensorsText }}';
        let interval_rec_config = '{{ DefaultIntervalRecText }}';
        let variance_rec_config = '{{ DefaultVarianceRecText }}';
        let high_low_rec_config = '{{ DefaultHighLowRecText }}';
        let display_config = '{{ DefaultDisplayText }}';
        let email_config = '{{ DefaultEmailText }}';
        let wifi_config = '{{ DefaultWifiText }}';
        let network_config = '{{ DefaultNetworkText }}';

        let selected_value = document.getElementById('config_selection').value

        if (selected_value === 'primary') {
                document.getElementById('new_config_str').value = primary_config;
        } else if (selected_value === 'installed_sensors') {
                document.getElementById('new_config_str').value = installed_sensors_config;
        }  else if (selected_value === 'interval_recording') {
                document.getElementById('new_config_str').value = interval_rec_config;
        }  else if (selected_value === 'variance_trigger_recording') {
                document.getElementById('new_config_str').value = variance_rec_config;
        }  else if (selected_value === 'high_low_recording') {
                document.getElementById('new_config_str').value = high_low_rec_config;
        }  else if (selected_value === 'display') {
                document.getElementById('new_config_str').value = display_config;
        }  else if (selected_value === 'email') {
                document.getElementById('new_config_str').value = email_config;
        }  else if (selected_value === 'wifi') {
                document.getElementById('new_config_str').value = wifi_config;
        }  else if (selected_value === 'network') {
                document.getElementById('new_config_str').value = network_config;
        }
    }
    </script>

{% endblock %}
