{% extends "base.html" %}

{% block content %}

    <form class="mui-form" id="main_form" method="POST" action="/SensorControlManageIPLists"
          style="text-align: center; background-color: #00B0FF; width: 575px;">

        <input type="text" id="ip_list_command" name="ip_list_command" value="Nothing" hidden>

        <h2>
            <br>
            <u><strong><a style="color: black;" href="{{ PageURL }}">Remote Sensor IP Lists Management</a></strong></u><br>
            <a style="color: green; font-size: medium;" href="/SensorUnitHelp.html#line8" target="_blank">
                Click Here for Help
            </a>
        </h2>

        <hr>

        <label for="ip_list_selection">Choose an IP List:</label>
        <br>
        <select name="selected_ip_list" id="ip_list_selection">
            <optgroup label="Custom Saved IP Lists">
                {{ IPListsOptionNames |safe }}
            </optgroup>
        </select>

        <br><br>

        <label style="font-size: medium;">
            New IP List Name<br>
            <input type="text" name="ip_list_new_name" size="40" maxlength="64" placeholder="Eg. James_ip_list_011">
            <br>
        </label>

        <br>
        <button class="mui-btn mui-btn--raised mui--bg-color-black  mui--color-white"
                onclick="rename_ip_list()">
            Rename Selected IP List
        </button>

        <br>

        <button class="mui-btn mui-btn--raised mui--bg-color-black  mui--color-red"
                onclick="delete_ip_list()">
            Delete Selected IP List
        </button>
    </form>

    <script>
        function delete_ip_list() {
                let r = confirm("Are you sure you want to Delete the IP List?");
                if (r === true) {
                    document.getElementById("ip_list_command").value = "DeleteIPList";
                    document.getElementById("main_form").submit()
                }
            }

        function rename_ip_list() {
                document.getElementById("ip_list_command").value = "RenameIPList";
                document.getElementById("main_form").submit()
            }
    </script>

{% endblock %}
