{% extends "base.html" %}

{% block content %}

    <style>
        .mui-container-fluid {
            font-weight: bold;
            font-size: large;
        }

        .mui-col-md-3 {
            background-color: #00ffff;
            width: 235px;
        }

        .mui-col-md-4 {
            background-color: #0BB10D;
            min-width: 110px;
            width: auto;
        }

        .mui-col-md-8 {
            background-color: #0BB10D;
            width: auto;
        }
    </style>

    <h2><strong><a style="text-decoration: underline; color: red;" href="/SensorInformation">
        {{ HostName }} - {{ IPAddress }}
    </a></strong></h2>


    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-3">Operating System</div>
            <div class="mui-col-md-4">{{ OSVersion }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Sensor ID</div>
            <div class="mui-col-md-4">{{ KootnetSensorID }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Running Version</div>
            <div class="mui-col-md-4">{{ KootnetVersion }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Newest Std Version</div>
            <div class="mui-col-md-4">{{ NewStandardKootnetVersion }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Newest Dev Version</div>
            <div class="mui-col-md-4">{{ NewDevelopmentalKootnetVersion }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Last Updated</div>
            <div class="mui-col-md-4">{{ LastUpdated }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Sensor Date & Time</div>
            <div class="mui-col-md-4">{{ DateTime }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Sensor Uptime</div>
            <div class="mui-col-md-4">{{ SystemUptime }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Sensor Reboots</div>
            <div class="mui-col-md-8">{{ SensorReboots }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">System Temperature</div>
            <div class="mui-col-md-4" style="background-color: #ff4a54">{{ CPUTemperature }} °C</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">RAM Usage</div>
            <div class="mui-col-md-4" style="background-color: green">{{ RAMUsage }} % of {{ TotalRAM }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Drive Usage</div>
            <div class="mui-col-md-8" style="background-color: green;">{{ DiskUsage }} %</div>
        </div>
    </div>

    <h2><strong><span style="color: red;">
        Installed & Enabled Sensors
    </span></strong></h2>

    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-4">{{ InstalledSensors }}</div>
        </div>
    </div>

    <h2><strong><span style="color: red">
        Program Status
    </span></strong></h2>

    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-3">Debug Logging</div>
            <div class="mui-col-md-4">{{ DebugLogging }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Interval Recording</div>
            <div class="mui-col-md-4">{{ IntervalRecording }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">High/Low Triggers</div>
            <div class="mui-col-md-4">{{ TriggerHighLowRecording }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Variance Triggers</div>
            <div class="mui-col-md-4">{{ TriggerVarianceRecording }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">MQTT Publisher</div>
            <div class="mui-col-md-4">{{ MQTTPublishing }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">MQTT Subscriber</div>
            <div class="mui-col-md-4">{{ MQTTSubscriber }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">&nbsp;MQTT Sub Recording</div>
            <div class="mui-col-md-4">{{ MQTTSubscriberRecording }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Sensor Checkins</div>
            <div class="mui-col-md-4">{{ SensorCheckins }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Checkin Server</div>
            <div class="mui-col-md-4">{{ CheckinServer }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Mini Display</div>
            <div class="mui-col-md-4">{{ SupportedDisplay }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Open Sense Map</div>
            <div class="mui-col-md-4">{{ OpenSenseMapService }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Weather Underground</div>
            <div class="mui-col-md-4">{{ WeatherUndergroundService }}</div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-3">Luftdaten</div>
            <div class="mui-col-md-4">{{ LuftdatenService }}</div>
        </div>
    </div>

    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
            onclick="window.open('/SensorRecordingStatus','targetWindow',
       'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=950,height=450'); return false;">
        Detailed Recording Status
    </button>

    <br>

{% endblock %}
