{% extends "base.html" %}

{% block content %}

    <h2><a href="/SensorControlManage" style="color: red; text-decoration: underline;">
        Back to Sensor Control
    </a></h2>

    <h4 style="color: red;">
        ** Warning: Most browsers will block more then one download at a time. **
        <br>
        ** Check the top and bottom bars after clicking the button for a pop up warning and allow this site. **
    </h4>

    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200 download_databases">
        Start Downloads
    </button>

    <h4 style="color: red;">
        This will download {{ DownloadTypeMessage }} from the following Sensors.
        <br>
        {{ ExtraMessage|safe }}
    </h4>
    <table>
        <tr>
            <th><span style='background-color: #00ffff;'>Address</span></th>
            <th><span style='background-color: #00ffff;'>Response Time</span></th>
            <th><span style='background-color: #00ffff;'>{{ ColumnDownloadMessage }}</span></th>
        </tr>
        <tr>
            <th style="color: grey;">-----</th>
            <th style="color: grey;">-----</th>
            <th style="color: grey;">-----</th>
        </tr>
        {{ SensorResponse|safe }}
    </table>

    <script>
        $('button.download_databases').click(function (e) {
            e.preventDefault();
            {{ DownloadURLs|safe }}
        });
    </script>

{% endblock %}
