{% extends "base.html" %}

{% block content %}

    <style>
        .mui-container-fluid {
            font-weight: bold;
            font-size: large;
        }

        .mui-col-md-3 {
            width: 275px;
        }

        .ip_selection_content {
            display: none;
            overflow: hidden;
        }

        .mui-form {
            background-color: #00B0FF;
        }

        .mui-col-md-4 {
            width: 275px;
        }
    </style>

    <h2 style="text-decoration: underline; color: red;"><strong><a href="/SensorControlManage" style="color: red;">
        Sensor Control
    </a></strong></h2>
    <fieldset style="text-align: center; max-width: 565px;">
        <h4 style="color: red;">Use this to Check & Manage up to 20 other Kootnet Sensors.
            <br>
            ** WIP: Configurations & Online Services are not fully operational **
        </h4>
        _<b id="blink_shadow">{{ ExtraTextMessage|safe }}</b>_
    </fieldset>

    <form class="mui-form" method="POST" style="max-width: 600px; background-color: black;"
          action="/SensorControlManage">
        <fieldset style="text-align: center;">
            <button type="button" id="ip_show_hide"
                    class="mui-btn mui-btn--raised">
                Show/Hide IP List
            </button>
            <div class="ip_selection_content">
                <div class="mui-container-fluid" style="background-color: #00B0FF;">
                    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                            type="submit" name="button_action" value="save_settings" formaction="/MultiSCSaveSettings">
                        Save Settings
                    </button>
                    <h4 style="text-decoration: underline; color: purple;">
                        Sensor Login (Optional)
                    </h4>
                    <label style="font-size: small">
                        Username<br>
                        <input type="text" name="sensor_username" placeholder="Eg. Jim">
                        <br>
                    </label>
                    <label style="font-size: small">
                        Password<br>
                        <input type="password" name="sensor_password" placeholder="Eg. SuperSecure">
                        <br>
                    </label>

                    <div class="mui-row">
                        <div class="mui-col-md-3">
                            <div class="mui-textfield">
                                <label>
                                    IP or DNS Address
                                </label>
                                <input type="text" name="senor_ip_1" placeholder="eg. 192.168.10.11"
                                       value="{{ SensorIP1 }}">
                                <input type="text" name="senor_ip_3" value="{{ SensorIP3 }}">
                                <input type="text" name="senor_ip_5" value="{{ SensorIP5 }}">
                                <input type="text" name="senor_ip_7" value="{{ SensorIP7 }}">
                                <input type="text" name="senor_ip_9" value="{{ SensorIP9 }}">
                                <input type="text" name="senor_ip_11" value="{{ SensorIP11 }}">
                                <input type="text" name="senor_ip_13" value="{{ SensorIP13 }}">
                                <input type="text" name="senor_ip_15" value="{{ SensorIP15 }}">
                                <input type="text" name="senor_ip_17" value="{{ SensorIP17 }}">
                                <input type="text" name="senor_ip_19" value="{{ SensorIP19 }}">
                            </div>
                        </div>
                        <div class="mui-col-md-3">
                            <div class="mui-textfield">
                                <label>
                                    IP or DNS Address
                                </label>
                                <input type="text" name="senor_ip_2" placeholder="eg. 192.168.10.12"
                                       value="{{ SensorIP2 }}">
                                <input type="text" name="senor_ip_4" value="{{ SensorIP4 }}">
                                <input type="text" name="senor_ip_6" value="{{ SensorIP6 }}">
                                <input type="text" name="senor_ip_8" value="{{ SensorIP8 }}">
                                <input type="text" name="senor_ip_10" value="{{ SensorIP10 }}">
                                <input type="text" name="senor_ip_12" value="{{ SensorIP12 }}">
                                <input type="text" name="senor_ip_14" value="{{ SensorIP14 }}">
                                <input type="text" name="senor_ip_16" value="{{ SensorIP16 }}">
                                <input type="text" name="senor_ip_18" value="{{ SensorIP18 }}">
                                <input type="text" name="senor_ip_20" value="{{ SensorIP20 }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <ul class="mui-tabs__bar">
            <li class="mui--is-active"><a style="color: red; background-color: #212121;" data-mui-toggle="tab"
                                          data-mui-controls="main-tab">
                Checks & Downloads
            </a></li>
            <li><a style="color: red; background-color: #212121;" data-mui-toggle="tab"
                   data-mui-controls="edit-config-tab">
                Configurations
            </a></li>
            <li><a style="color: red; background-color: #212121;" data-mui-toggle="tab"
                   data-mui-controls="online-services-tab">
                Online Services
            </a></li>
        </ul>

        <div class="mui-tabs__pane mui--is-active" id="main-tab">
            <br>
            <label style="color: red; display: inline-block; text-align: center; width: 600px;">
                Available Zip Downloads
                <br>
                <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                        onclick="this.disabled=true; location.href='/DownloadSCReportsZip';"
                        type="submit" {{ DownloadReportsZipDisabled }}>
                    Reports
                </button>
                <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                        onclick="this.disabled=true; location.href='/DownloadSCDatabasesZip';"
                        type="submit" {{ DownloadDatabasesDisabled }}>
                    Databases
                </button>
                <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                        onclick="this.disabled=true; location.href='/DownloadSCLogsZip';"
                        type="submit" {{ DownloadLogsDisabled }}>
                    Logs
                </button>
                <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                        onclick="this.disabled=true; location.href='/DownloadSCBigZip';"
                        type="submit" {{ DownloadBigZipDisabled }}>
                    The Big Zip
                </button>
            </label>
            <br>
            <br>
            <fieldset style="text-align: center;">
                <div class="mui-container-fluid" style="background-color: #00B0FF;">
                    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200" type="submit"
                            id="run_action_button" name="run_button_action" value="run_action" {{ RunActionDisabled }}>
                        Run Action
                    </button>
                    <br>
                    <label>Choose Action</label>
                    <div class="mui-radio">
                        <h4 style="text-decoration: underline; color: purple;">View</h4>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedOnlineStatus }}
                                   id="RadioOnlineStatus" value="online_status">
                            Online Status
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedComboReports }}
                                   id="RadioComboReports" value="combo_report">
                            3x Combination Report
                            <span class="checkmark_radio"></span>
                        </label>
                        <br>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedSystemReports }}
                                   id="RadioSystemReports" value="systems_report">
                            Systems Report
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedConfigReports }}
                                   id="RadioConfigReports" value="config_report">
                            Configurations Report
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedSensorsTestReports }}
                                   id="RadioSensorsTests" value="sensors_test_report">
                            Sensors Tests
                            <span class="checkmark_radio"></span>
                        </label>
                        <br>
                        <h4 style="text-decoration: underline; color: purple;">Download</h4>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedDownloadReports }}
                                   id="RadioDownloadReports"
                                   value="sensors_download_reports" {{ DisabledDownloadReports }}>
                            Zip of Combination Report
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedDownloadDatabases }}
                                   id="RadioDownloadDatabases" value="sensors_download_databases">
                            Sensor Databases
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedDownloadLogs }}
                                   id="RadioDownloadLogs" value="sensors_download_logs">
                            Logs
                            <span class="checkmark_radio"></span>
                        </label>
                        <br>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_action" {{ CheckedDownloadBig }}
                                   id="RadioDownloadBigZip"
                                   value="sensors_download_everything" {{ DownloadBigDisabled }}>
                            Create "The Big Zip" (Reports, Logs & Databases)
                            <span class="checkmark_radio"></span>
                        </label>
                        <h5 style="color: purple;">Download Options</h5>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_send_type" {{ CheckedRelayedDownload }}
                                   id="SelectedRelayedDownloads" value="relayed_download" {{ DisabledRelayedDownload }}>
                            Relayed Download
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small">
                            <input type="radio" name="selected_send_type" {{ CheckedDirectDownload }}
                                   id="SelectedDirectDownloads" value="direct_download" {{ DisabledDirectDownload }}>
                            Direct Download
                            <span class="checkmark_radio"></span>
                        </label>
                        <br>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="mui-tabs__pane" id="online-services-tab">
            <br>
            <fieldset style="text-align: center;">
                <div class="mui-container-fluid" style="background-color: #00B0FF;">
                    <button type="submit"
                            class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                            formaction="/SCActiveOnlineServices">
                        Send Update
                    </button>
                    <h5><b>
                        This will update Configurations on ALL listed Sensors for the selected Online Service
                    </b></h5>
                    <label>Choose Online Service to Update</label>
                    <div class="mui-radio">
                        <label class="container_radio" style="font-size: small;">
                            <input type="radio" name="online_service_selected_action" value="weather_underground"
                                   checked>
                            Weather Underground
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small;">
                            <input type="radio" name="online_service_selected_action" value="luftdaten">
                            Luftdaten
                            <span class="checkmark_radio"></span>
                        </label>
                        <label class="container_radio" style="font-size: small;">
                            <input type="radio" name="online_service_selected_action" value="open_sense_map">
                            Open Sense Map
                            <span class="checkmark_radio"></span>
                        </label>
                    </div>
                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="enable_online_service" value="">
                            Enable Selected Online Service
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>
                    <br>
                    <div class="mui-textfield">
                        <label style="color: black;">
                            Seconds between Updates
                            <br>
                            <input style="width: 75px;" type="number" min="1" name="online_service_interval"
                                   value="900.0" disabled>
                        </label>
                    </div>
                    <br>
                </div>
            </fieldset>
        </div>

        <div class="mui-tabs__pane" id="edit-config-tab">
            {{ SensorControlEditConfig|safe }}
        </div>
    </form>

    <script>
        document.getElementById("ip_show_hide").addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "inline-block") {
                content.style.display = "none";
            } else {
                content.style.display = "inline-block";
            }
        });
    </script>

    <script>
        jQuery('#RadioOnlineStatus').click(function () {
            if (jQuery(this).prop('checked')) {
                document.getElementById("SelectedRelayedDownloads").click();
                disable_all_selected();
            }
        });

        jQuery('#RadioComboReports').click(function () {
            if (jQuery(this).prop('checked')) {
                document.getElementById("SelectedRelayedDownloads").click();
                disable_all_selected();
            }
        });

        jQuery('#RadioSensorsTests').click(function () {
            if (jQuery(this).prop('checked')) {
                document.getElementById("SelectedRelayedDownloads").click();
                disable_all_selected();
            }
        });

        jQuery('#RadioSystemReports').click(function () {
            if (jQuery(this).prop('checked')) {
                document.getElementById("SelectedRelayedDownloads").click();
                disable_all_selected();
            }
        });

        jQuery('#RadioConfigReports').click(function () {
            if (jQuery(this).prop('checked')) {
                document.getElementById("SelectedRelayedDownloads").click();
                disable_all_selected();
            }
        });

        jQuery('#RadioDownloadReports').click(function () {
            if (jQuery(this).prop('checked')) {
                enable_all_selected();
                document.getElementById("SelectedRelayedDownloads").click();
                document.getElementById("SelectedDirectDownloads").disabled = true;
            }
        });

        jQuery('#RadioDownloadDatabases').click(function () {
            if (jQuery(this).prop('checked')) {
                enable_all_selected();
            }
        });

        jQuery('#RadioDownloadLogs').click(function () {
            if (jQuery(this).prop('checked')) {
                enable_all_selected();
            }
        });

        jQuery('#RadioDownloadBigZip').click(function () {
            if (jQuery(this).prop('checked')) {
                enable_all_selected();
                document.getElementById("SelectedRelayedDownloads").click();
                document.getElementById("SelectedDirectDownloads").disabled = true;
            }
        });

        function enable_all_selected() {
            document.getElementById("SelectedRelayedDownloads").disabled = false;
            document.getElementById("SelectedDirectDownloads").disabled = false;
        }

        function disable_all_selected() {
            document.getElementById("SelectedRelayedDownloads").disabled = true;
            document.getElementById("SelectedDirectDownloads").disabled = true;
        }
    </script>

    <script type="text/javascript">
        (function () {
            if (document.getElementById("blink_shadow").textContent.length > 0) {
                var blinks = document.getElementById("blink_shadow");
                var shadow_colour = "green";
                window.setTimeout(refresh_page_timed, 10000);
                window.setInterval(function () {
                    blinks.style.color = shadow_colour;
                    shadow_colour = (shadow_colour === "green") ? "red" : "green";
                }, 1000);
            }
        })();

        function refresh_page_timed() {
            window.location = "/SensorControlManage";
        }
    </script>

    <script>
        jQuery('#enable_interval_recording').change(function () {
            document.getElementsByName("interval_delay_seconds")[0].disabled = !jQuery(this).prop('checked');
        });

        jQuery('#enable_custom_temp_offset').change(function () {
            document.getElementsByName("custom_temperature_offset")[0].disabled = !jQuery(this).prop('checked');
        });
    </script>

{% endblock %}
