{% block content %}
    <link href="/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/MenuStyle.css" rel="stylesheet" type="text/css"/>
    <script src="/mui.min.js"></script>
    <link href="/mui-colors.min.css" rel="stylesheet" type="text/css"/>

    <meta http-equiv="refresh" content="300; url = {{ PageURL }}"/>

    <ul class="mui-tabs__bar">
        <li class="mui--is-active">
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="primary-tab">
                View Sensor CheckIns
            </a>
        </li>

        <li>
            <a style="color: red; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="database-maintenance-tab">
                Database Clean Up
            </a>
        </li>
    </ul>

    <br>

    <div class="mui-tabs__pane mui--is-active" id="primary-tab">
        <fieldset style="text-align: center; max-width: 850px;">
            <div>
                <h2>
                    <u><strong><a style="color: red;" href="{{ PageURL }}">Sensor Checkins</a></strong></u><br>
                    <a style="color: green; font-size: medium;" href="/SensorUnitHelp.html#line9_1" target="_blank">
                        Click Here for Help
                    </a>
                </h2>

                <h4 style="color: #F4A460;">This will automatically refresh every 5 minutes</h4>

                <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                        onclick="window.open('/CheckinSensorSearch','targetWindow',
                   'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=800');
                   return false;">
                    Open Sensor Search
                </button>

                <br>
                <br>

                <p style="color: red; font-size: large;">Total Sensors in Database: {{ SensorsInDatabase }}</p>
                <p style="color: red; font-size: large;">
                    Sensor Checkin Count in the past {{ ContactInPastDays }} Days: {{ TotalSensorCount }}
                </p>

                <br>

                <span style="color: greenyellow; white-space: pre-wrap;">{{ CheckinSensorStatistics }}</span>
            </div>
        </fieldset>
    </div>

    <script>
        function ClearCheckIns() {
            let r = confirm("Clear all but last Checkin on each Sensor?");
            if (r === true) {
                window.location = "/ClearOldCheckinData"
            }
        }
    </script>

    <div class="mui-tabs__pane" id="database-maintenance-tab">
        <fieldset style="text-align: center; max-width: 850px;">
            <h2>
                <u><strong><a style="color: red;" href="{{ PageURL }}">Database Commands</a></strong></u><br>
                <a style="color: green; font-size: medium;" href="/SensorUnitHelp.html#line9_2" target="_blank">
                    Click Here for Help
                </a>
            </h2>

            <h4 style="color: red; font-size: medium;">Current Checkin Database Size: {{ CheckinDBSize }} MB</h4>

            <p style="color: red;">
                This will clear all but the last recorded entries for all sensors in the Checkin Database
            </p>
            <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                    onclick="ClearCheckIns();">
                Clear Checkin Data
            </button>

            <br>
            <br>

            <h4 style="color: red;"><strong>
                Clear Old Sensor ID's that have not Checked-in for X Days
            </strong></h4>

            <form id="mqtt-form" class="mui-form" method="POST" action="/DeleteSensorsOlderCheckin"
                  onsubmit="return confirm('This cannot be undone, delete old Sensors from database?');">
                <div class="mui-textfield">
                    <label style="color: red; font-size: medium;">
                        Days<br>
                        <input style="width: 75px;" type="number" max="3650" step="0.1"
                               name="delete_sensors_older_days"
                               value="{{ DeleteSensorsOlderDays }}">
                    </label>
                </div>

                <br>

                <button class="mui-btn mui-btn--raised" type="submit">
                    Delete
                </button>
            </form>
        </fieldset>
    </div>

{% endblock %}
