{% extends "base.html" %}

{% block content %}
    <button class="mui-btn mui-btn--raised"><a href="/DownloadSQLDatabase" target="_blank">
        Download Sensor Database
    </a></button>

    <H2 style="color: #00ffff;"><u>Logs</u></H2>
    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            View Log
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/GetPrimaryLogHTML" target="_blank">Primary</a></li>
            <li><a href="/GetNetworkLogHTML" target="_blank">Network</a></li>
            <li><a href="/GetSensorsLogHTML" target="_blank">Sensors</a></li>
        </ul>
        <br>
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            Clear Log
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/DeletePrimaryLog" target="_blank">Primary</a></li>
            <li><a href="/DeleteNetworkLog" target="_blank">Network</a></li>
            <li><a href="/DeleteSensorsLog" target="_blank">Sensors</a></li>
        </ul>
    </div>

    <H2 style="color: #00ffff;"><u>Initiate Sensor Upgrade</u></H2>
    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            Upgrade Options
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/UpgradeOnline" target="_blank">HTTP Upgrade</a></li>
            <li><a href="/UpgradeSMB" target="_blank">SMB Upgrade</a></li>
            <li><a href="/UpgradeOnlineDev" target="_blank">DEV - HTTP Upgrade</a></li>
            <li><a href="/UpgradeSMBDev" target="_blank">DEV - SMB Upgrade</a></li>
        </ul>
    </div>

{% endblock %}
