{% extends "base.html" %}

{% block content %}

    <script>
        function SensorShutdown() {
            let r = confirm("Are you sure you want to Shutdown the Sensor?");
            if (r === true) {
                window.location = "/ShutdownSystem"
            }
        }

        function DevUpgradeHTTP() {
            let r = confirm("Developmental Builds can be unstable, are you sure?");
            if (r === true) {
                window.location = "/UpgradeOnlineDev"
            }
        }

        function CleanUpgradeHTTP() {
            let r = confirm("This will require Internet access and up to 10 minutes\nRun now?");
            if (r === true) {
                window.location = "/UpgradeOnlineClean"
            }
        }

        function CleanDevUpgradeHTTP() {
            let r = confirm("This will require Internet access and up to 10 minutes\nRun now?");
            if (r === true) {
                window.location = "/UpgradeOnlineCleanDEV"
            }
        }
    </script>

    <style>
        #update_login_credentials {
            width: 50%;
            position: absolute;
            margin: auto auto;
            left: 0;
            right: 0;
        }
    </style>

    <h2><strong>
        <a style="text-decoration: underline; color: red" href="/SystemCommands">Advanced</a>
    </strong></h2>

    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
            onclick="window.location.href = '/HTMLRawConfigurations';">
        View Raw Configurations & Module Versions
    </button>

    <br>

    <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
            onclick="window.location.href = '/ViewSensorCheckin';">
        View Sensor Checkin Statistics
    </button>

    <br>

    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            Standard Upgrades
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/UpgradeOnline">HTTP Upgrade</a></li>
            <li><a href="/UpgradeSMB">SMB Upgrade</a></li>
        </ul>
    </div>

    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            Developmental Upgrades
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a style="cursor: pointer;" onclick="DevUpgradeHTTP();">DEV - HTTP Upgrade</a></li>
            <li><a href="/UpgradeSMBDev">DEV - SMB Upgrade</a></li>
        </ul>
    </div>

    <br>

    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            SQL
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/VacuumMainSQLDatabase">Shrink Main SQL Database</a></li>
            <li><a href="/VacuumCheckInsSQLDatabase">Shrink Sensor Check-Ins SQL Database</a></li>
        </ul>
    </div>

    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            Other
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/UpgradeSystemOS">Upgrade OS & Reboot</a></li>
            <li><a href="/UpdatePipModules">Upgrade Python3 Modules & Restart Service</a></li>
            <li><a>---------------</a></li>
            <li><a style="cursor: pointer;" onclick="CleanUpgradeHTTP();">Clean - HTTP Upgrade</a></li>
            <li><a style="cursor: pointer;" onclick="CleanDevUpgradeHTTP();">Clean - DEV - HTTP Upgrade</a></li>
            {#            <li><a href="/UpgradeSMBClean">Clean - SMB Upgrade</a></li>#}
            {#            <li><a href="/UpgradeSMBCleanDEV">DEV Clean - SMB Upgrade</a></li>#}
        </ul>
    </div>

    <div class="mui-dropdown">
        <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
            Power Commands
            <span class="mui-caret"></span>
        </button>
        <ul class="mui-dropdown__menu">
            <li><a href="/RestartServices">Restart Program</a></li>
            <li><a href="/RebootSystem">Reboot System</a></li>
            <li><a>---------------</a></li>
            <li><a style="cursor: pointer;" onclick="SensorShutdown();">Shutdown System</a></li>
        </ul>
    </div>

    <div>
        <form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;" action="/EditLogin">
            <div id="update_login_credentials">
                <h2><u><a style="color: lightblue;" href="{{ PageURL }}">Change Login</a></u></h2>

                <div class="mui-textfield">
                    <label style="color: lightblue;">
                        Username
                        <br>
                        <input style="width: 125px;" type="text" id="login_username" name="login_username" required
                               placeholder="eg. Sensor33" minlength="4" maxlength="62" value="{{ LoginUserName }}">
                    </label>
                </div>

                <div class="mui-textfield">
                    <label style="color: lightblue;">
                        Password
                        <br>
                        <input style="width: 125px;" type="password" id="login_password" name="login_password" required
                               placeholder="eg. S3n50rP@s5" minlength="4" maxlength="62">
                    </label>
                </div>
                <br>
                <button type="submit" class="mui-btn mui-btn--raised">Update</button>
            </div>
        </form>
    </div>

{% endblock %}
