[Desktop Entry]
Name=Web Portal - Kootnet Sensors
Comment=Web interface for configuring & using Kootnet Sensor
Type=Application
Icon=/opt/kootnet-sensors/extras/icon.ico
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser https://localhost:10065/SystemCommands
Terminal=false
Categories=Utility;Science;
StartupNotify=true
