[Desktop Entry]
Name=Terminal Config - Kootnet Sensors
Comment=Reconfigure Kootnet Sensors through a Terminal & Test
Icon=/usr/share/icons/PiX/128x128/mimetypes/shellscript.png
Exec=/bin/bash /opt/kootnet-sensors/scripts/edit_sensor_config.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=Utility;Science;
