[Desktop Entry]
Name=Terminal Config - Kootnet Sensors
Comment=Reconfigure Kootnet Sensors through a Terminal & Test
Icon=/usr/share/icons/PiX/128x128/mimetypes/shellscript.png
Exec=/home/kootnet_data/env/bin/python /opt/kootnet-sensors/start_cli_edit_config.py
Type=Application
Encoding=UTF-8
Terminal=true
Categories=Utility;Science;
