<style>
    th {
        color: red;
    }

    td {
        font-weight: bolder;
        text-align: center;
    }

    .readings-header {
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Running<br>Version</div></th>
                            <th><div class="readings-header">Current<br>Release</div></th>
                            <th><div class="readings-header">Development<br>Release</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ KootnetVersion }}</td>
                            <td>{{ StdVersion }}</td>
                            <td>{{ DevVersion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Operating<br>System</div></th>
                            <th><div class="readings-header">HostName</div></th>
                            <th><div class="readings-header">IP<br>Address</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ OperatingSystem }}</td>
                            <td>{{ HostName }}</td>
                            <td>{{ LocalIP }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Debug<br>Logging</div></th>
                            <th><div class="readings-header">System<br>Uptime</div></th>
                            <th><div class="readings-header">System<br>Reboots</div></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ DebugLogging }}</td>
                            <td>{{ SensorUptime | safe }}</td>
                            <td>{{ SensorReboots }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">System<br>Temperature</div></th>
                            <th><div class="readings-header">Available<br>RAM</div></th>
                            <th><div class="readings-header">Available<br>Drive Space</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ CPUTemperature }} °C</td>
                            <td>{{ RAMUsage }}</td>
                            <td>{{ DiskUsage }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">DateTime Sensor's Timezone</div></th>
                            <th><div class="readings-header">DateTime UTC 0</div></th>
                            <th><div class="readings-header">Last Updated</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ DateTime }}</td>
                            <td>{{ DateTimeUTC }}</td>
                            <td>{{ LastUpdated }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Installed Sensors</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ InstalledSensors }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Interval<br>Recording</div></th>
                            <th><div class="readings-header">High/Low<br>Recording</div></th>
                            <th><div class="readings-header">Variance<br>Recording</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ IntervalRecording }}</td>
                            <td>{{ TriggerHighLowRecording }}</td>
                            <td>{{ TriggerVarianceRecording }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">MQTT<br>Publisher</div></th>
                            <th><div class="readings-header">MQTT<br>Subscriber</div></th>
                            <th><div class="readings-header">MQTT<br>Subscriber Recording</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ MQTTPublishing }}</td>
                            <td>{{ MQTTSubscriber }}</td>
                            <td>{{ MQTTSubscriberRecording }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Sensor Checkins</div></th>
                            <th><div class="readings-header">Checkin Server</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ SensorCheckins }}</td>
                            <td>{{ CheckinServer }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th><div class="readings-header">Open Sense Map</div></th>
                            <th><div class="readings-header">Weather Underground</div></th>
                            <th><div class="readings-header">Luftdaten</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ OpenSenseMapService }}</td>
                            <td>{{ WeatherUndergroundService }}</td>
                            <td>{{ LuftdatenService }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
