<style>
    .info-box-data {
        color: blue;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-12 col-m-12 col-sm-12">
        <div class="counter bg-success">
            <h2><a style="color: white;" href="#" onclick="SelectNav('mqtt-subscriber-view-data-stream')">
                Last {{ MQTTShowing }} MQTT Subscriber Messages
            </a></h2>

            <h4>This will automatically refresh every 30 seconds</h4>

            <button class="pure-button" type="button"
                    onclick="window.open('/atpro/mqtt-subscriber-sensors-list', '_blank')">
                View MQTT Subscriber Sensors List
            </button>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="counter bg-warning">
            <h2>MQTT Subscriber Information</h2>
            <h3>
                <span class="info-box-data">MQTT Subscriber Status: </span>
                <span style="color: {{ MQTTEnabledColor }};">{{ MQTTSubscriberEnabledText }}</span>

                <br>

                <span class="info-box-data">Recording Status: </span>
                <span style="color: {{ MQTTSQLEnabledColor }};">{{ MQTTSQLSubscriberEnabledText }}</span>

                <br>

                <span class="info-box-data">Broker Address: </span>{{ MQTTSubscriberServerAddress }}

                <br>

                <span class="info-box-data">Database Size: </span>{{ MQTTSubDatabaseSize }} MB

                <br>

                <span class="info-box-data">Sensors in Database: </span>{{ SQLMQTTSensorsInDB }}
            </h3>
        </div>
    </div>

    <div class="col-6 col-m-12 col-sm-12">
        <div class="counter bg-warning">
            <h2>MQTT Log Clean-up</h2>
            <h3>Showing up to {{ MQTTShowing }} log entries out of a total of {{ MQTTTotoalEntries }}</h3>
            <button class="pure-button" onclick="ClearMQTTSubLogs()">Clear Log</button>
        </div>
    </div>
</div>

<div class="row">{{ SubscriberTopicsContent | safe }}</div>

<script>
    function ClearMQTTSubLogs() {
        let r = confirm("This cannot be undone, are you sure?");
        if (r === true) {
            window.location = "/atpro/mqtt-subscriber-clear-log"
        }
    }

    function RefreshPageTimed() {
        SelectNav("mqtt-subscriber-view-data-stream");
    }

    refresh_timer = setTimeout(() => {
        clearTimeout(refresh_timer);
        RefreshPageTimed();
    }, 30000);

    if (screen.width < 500) {
        let sensor_id = document.getElementsByClassName("sensor-id");
        for (let i = 0; i < sensor_id.length; i++) {
            document.getElementsByClassName('sensor-id')[i].style.fontSize = 'medium';
        }
    }
</script>
