<!DOCTYPE html>
<html lang="en">
<head>
    <title>MQTT Sensor List</title>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="/AT-pro-logo.png"/>
    <link rel="stylesheet" type="text/css" href="/extras/pure-min.css">
</head>

<style>
    body {
        background: black;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table td {
        border-top: 1px solid;
        padding: 15px;
        text-align: center;
        font-weight: bolder;
        color: orange;
    }

    table th {
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 15px 12px;
        text-align: center;
        color: darkblue;
    }
</style>

<body>
<h2><strong><u><a style="color: red;" href="/atpro/mqtt-subscriber-sensors-list">
    MQTT Subscriber Sensors List
</a></u></strong></h2>

<p style="color: red; font-size: large;">
    Total Sensors in MQTT Subscriber Database: {{ SQLMQTTSensorsInDB }}<br><br>
    Table Last Updated: {{ MQTTLastTableUpdateDatetime }}
</p>

<br>

<button type="button" class="pure-button" onclick="window.location='/atpro/mqtt-subscriber-generate-sensors-list'">
    Refresh Table Content
</button>

<br><br>

<table class="pure-table">
    <thead>
    <tr>
        <th>Sensor ID</th>
        <th>Sensor Host Name</th>
        <th>IP Address</th>
        <th>Last Contact - UTC{{ DateTimeOffset }}</th>
    </tr>
    </thead>
    <tbody>
    {{ HTMLSensorsTableCode | safe }}
    </tbody>
</table>
</body>
</html>

<script>
    function CreatingMQTTSubTable() {
        window.setTimeout(RefreshPageTimed, 5000);
    }

    function RefreshPageTimed() {
        window.location = "/atpro/mqtt-subscriber-sensors-list"
    }
    {{ RunScript }}
</script>
