<style>
    .readings {
        font-size: large;
        font-weight: bolder;
        text-align: center;
    }

    .readings-header {
        font-size: large;
        color: red;
        font-weight: bolder;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-12 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <h2 style="text-align: center;"><i class="fas fa-hourglass-half"></i> Sensor Latency in Seconds</h2>
            </div>
        </div>
    </div>

    {{ HTMLReplacementCode | safe }}
</div>

<script>
    CheckNotificationsAsync();
</script>
