<style>
    .reading-value {
        font-size: medium;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-12 col-m-12 col-sm-12">
        <div class="counter bg-success">
            <h2>Sensor Readings</h2>
        </div>
    </div>

    <div class="col-12 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    {{ HTMLReplacementCode | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    CheckNotificationsAsync();
</script>
