<link rel="stylesheet" type="text/css" href="/atpro/pure-horizontal-menu.css">

<style>
    .log-page-view {
        color: var(--second-color);
        font-weight: bold;
        text-align: left;
        white-space: pre-wrap;
    }

    .pure-menu-link, .pure-menu-link:visited {
        color: black;
    }
</style>

<div class="row">
    <div class="col-6 col-m-12 col-sm-12">
        <div class="counter bg-warning">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item log-primary">
                        <a href="#" class="pure-menu-link" onclick="SelectLogNav('log-primary')">
                            Primary Log
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item log-network">
                        <a href="#" class="pure-menu-link" onclick="SelectLogNav('log-network')">
                            Network Log
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item log-sensors">
                        <a href="#" class="pure-menu-link" onclick="SelectLogNav('log-sensors')">
                            Sensors Log
                        </a>
                    </li>
                </ul>
            </div>

            <br><br>

            <button class="pure-button" style="color: green;"
                    onclick="DownloadLogsZipped()">
                Download All Logs
            </button>

            <br><br>

            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" class="pure-menu-link" style="color: red;">
                            Delete Logs
                        </a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link"
                                   onclick="DeleteLog('primary')">
                                    Delete Primary Log
                                </a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link"
                                   onclick="DeleteLog('network')">
                                    Delete Network Log
                                </a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link"
                                   onclick="DeleteLog('sensors')">
                                    Delete Sensors Log
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br>

<h2 id="log-header"></h2>

<h3 id="log-deleted-message"></h3>

<br>

<div class="log-page-view" id="log-page-view"></div>


<script>
    function SelectLogNav(nav_location) {
        document.getElementsByClassName("log-primary")[0].classList.remove("pure-menu-selected");
        document.getElementsByClassName("log-network")[0].classList.remove("pure-menu-selected");
        document.getElementsByClassName("log-sensors")[0].classList.remove("pure-menu-selected");

        document.getElementsByClassName(nav_location)[0].classList.add("pure-menu-selected");

        $("#log-header").load("/atpro/logs/" + nav_location + "-header");
        $("#log-page-view").load("/atpro/logs/" + nav_location);
    }

    function DownloadLogsZipped() {
        let r = confirm("Download a zip file of all logs?");
        if (r === true) {
            window.location.href = '/atpro/logs/log-download-all-zipped';
        }
    }

    function DeleteLog(log_name) {
        let r = confirm("Are you sure you want to delete the " + log_name + " log?");
        if (r === true) {
            $("#log-deleted-message").load("/atpro/delete-log/" + log_name);
            SelectLogNav("log-" + log_name);
        }
    }

    SelectLogNav("log-primary");
</script>
