<link rel="stylesheet" type="text/css" href="/atpro/pure-horizontal-menu.css">
<style>
    .readings {
        font-size: large;
        font-weight: bolder;
        text-align: center;
    }

    .readings-header {
        font-size: large;
        color: red;
        font-weight: bolder;
        text-align: center;
    }
</style>

<div class='row'>
    <div class="col-12 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <h2 id="sensor-readings-title" style="text-align: center;">
                    <i class="fas fa-temperature-low"></i> Current Sensor Readings
                </h2>

                <div>
                    <div class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item sensor-readings">
                                <a href="#" class="pure-menu-link" onclick="SelectReadingsNav('sensor-readings')">
                                    <i class="fas fa-temperature-low"></i> Current Readings
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item sensor-latency">
                                <a href="#" class="pure-menu-link" onclick="SelectReadingsNav('sensor-latency')">
                                    <i class="fas fa-hourglass-half"></i> Sensor Latencies
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item sensor-insights">
                                <a href="#" class="pure-menu-link" onclick="SelectReadingsNav('sensor-insights')">
                                    <i class="fas fa-eye"></i> Sensor Insights
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sensor-insight-settings" class="row">
            <div class="col-6 col-m-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <form class="pure-form" method="POST" action="/atpro/sensor-insights">
                            <h2 style="text-align: center;">
                                <i class="fas fa-tasks"></i> Settings
                            </h2>

                            <h3><i class="far fa-calendar"></i> Insights Date Range</h3>

                            <label class="toggle-switch">
                                <input type="checkbox" id="use-all-data" class="toggle-switch-input"
                                       name="use_all_recorded_data" onclick="DateRangeHidden()"
                                        {{ UseAllRecordedData }}>
                                <label class="toggle-switch-label" for="use-all-data"></label>
                                Use ALL Recorded Data
                            </label>

                            <br>

                            <label class="toggle-switch">
                                <input type="checkbox" id="ignore-null" class="toggle-switch-input"
                                       name="ignore_null_values" {{ IgnoreNullValues }}>
                                <label class="toggle-switch-label" for="ignore-null"></label>
                                Ignore Null 'Values' ('0', '0.0', '', 'None')
                            </label>

                            <br>

                            <div id="date-range-selection">
                                <br>
                                <label>Start DateTime MM/DD/YYYY hh:mm<br>
                                    <div style="display: table; margin-left: auto; margin-right: auto;">
                                        <div style="display: table-row;">
                                            <div style="display: table-cell;">
                                                <input type="datetime-local" name="insights_datetime_start"
                                                       value="{{ DateTimeStart }}">
                                            </div>
                                        </div>
                                    </div>
                                </label>

                                <br><br>

                                <label>End DateTime MM/DD/YYYY hh:mm<br>
                                    <div style="display: table; margin-left: auto; margin-right: auto;">
                                        <div style="display: table-row;">
                                            <div style="display: table-cell;">
                                                <input type="datetime-local" name="insights_datetime_end"
                                                       value="{{ DateTimeEnd }}">
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <br>

                            <label>Number Of Insights Per Sensor<br>
                                <div style="display: table; margin-left: auto; margin-right: auto;">
                                        <div style="display: table-row;">
                                            <div style="display: table-cell;">
                                                <input style="width: 125px;" type="number" min="1" name="number_of_insights"
                                                       value="{{ NumberOfInsightsPerSensor }}">
                                            </div>
                                        </div>
                                </div>
                            </label>

                            <br><br>

                            <button type="submit" class="pure-button">Save Settings</button>
                        </form>
                    </div>
                </div>
            </div>

            <br><br>

            <div id="sensor-insight-settings" class="col-6 col-m-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <h2><i class="fas fa-exclamation-circle"></i> DateTime Information</h2>
                        <h3>
                            TimeZone: UTC0<br>
                            Format: Year-Month-Day Hour:min:Sec<br><br>
                            Insights Generated on: <span id="insights-gen-datetime"></span>
                        </h3>

                        <button id="insights-refresh-btn" type="button" class="pure-button" style="text-align: center;"
                                onclick="RefreshingInsights()">
                            Refresh Insights
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="readings-page-content"></div>
</div>

<script>
    function GeneratingInsights() {
        let blinks = document.getElementById("blink_shadow");
        blinks.style.color = "green";
        SetInsightGenDateTime('Generation in Progress');
        document.getElementById("insights-refresh-btn").disabled = true;
        window.setTimeout(RefreshInsightsPageTimed, 5000);
        window.setInterval(function () {
            blinks.style.color = (blinks.style.color === "green") ? "red" : "green";
        }, 1000);
    }

    function DateRangeHidden() {
        document.getElementById("date-range-selection").hidden = document.getElementById("use-all-data").checked;
    }

    function SetInsightGenDateTime(new_text) {
        document.getElementById("insights-gen-datetime").textContent = new_text;
    }

    function RefreshingInsights() {
        document.getElementById("insights-refresh-btn").disabled = true;
        fetch("/atpro/Generate-Sensor-Insights");
        window.setTimeout(RefreshInsightsPageTimed, 500);
    }

    function RefreshInsightsPageTimed() {
        SelectReadingsNav("sensor-insights");
    }

    function SelectReadingsNav(nav_location) {
        const title_readings_msg = '<i class="fas fa-temperature-low"></i> Current Sensor Readings'
        const title_latency_msg = '<i class="fas fa-hourglass-half"></i> Current Sensor Latencies'
        const title_insights_msg = '<i class="fas fa-eye"></i> Recorded Sensor Insights'

        document.getElementById("sensor-insight-settings").hidden = true;
        document.getElementById("readings-page-content").innerHTML = html_loading;

        document.getElementsByClassName("sensor-readings")[0].classList.remove("pure-menu-selected");
        document.getElementsByClassName("sensor-latency")[0].classList.remove("pure-menu-selected");
        document.getElementsByClassName("sensor-insights")[0].classList.remove("pure-menu-selected");
        document.getElementsByClassName(nav_location)[0].classList.add("pure-menu-selected");

        if (nav_location === "sensor-readings") {
            document.getElementById("sensor-readings-title").innerHTML = title_readings_msg;
        } else if  (nav_location === "sensor-latency") {
            document.getElementById("sensor-readings-title").innerHTML = title_latency_msg;
        } else if  (nav_location === "sensor-insights") {
            document.getElementById("sensor-readings-title").innerHTML = title_insights_msg;
            document.getElementById("sensor-insight-settings").hidden = false;
            DateRangeHidden();
        }

        jQuery("#readings-page-content").load("/atpro/" + nav_location);
    }

    SelectReadingsNav('sensor-readings');
    CheckNotificationsAsync();
</script>
