<style>
    .floatboxes {
        float: left;
        width: 50%;
        height: auto;
    }

    .floatboxes_topics {
        float: left;
        width: 50%;
        height: auto;
    }
</style>

<body onload="topics_hidden()"></body>

<div class="mui-tabs__pane" id="mqtt-publisher-tab">
    <ul class="mui-tabs__bar">
        <li class="mui--is-active"><a style="color: orange; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="mqtt-pub-main-config-tab">
            Main
        </a></li>

        <li><a style="color: orange; background-color: #212121;" data-mui-toggle="tab"
               data-mui-controls="mqtt-pub-advanced-config-tab">
            Advanced
        </a></li>
    </ul>

    <br>

    <div class="mui-tabs__pane mui--is-active" id="mqtt-pub-main-config-tab">
        <form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;" action="/EditConfigMQTTPublisher">
            <input type="text" name="ConfigSection" value="Main" hidden>
            <div style="text-align: center;">
                <br>
                <h3>
                    <u><strong><a style="color: black;" href="http://mqtt.org/" target="_blank">
                        MQTT Publisher Configuration
                    </a></strong></u><br>
                    <a style="color: darkgreen; font-size: medium;" href="/SensorUnitHelp.html#line6_1" target="_blank">
                        Click Here for Help
                    </a>
                    <hr>
                </h3>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="enable_mqtt_publisher" {{ MQTTPublisherChecked }}>
                        Enable MQTT Publisher
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Broker DNS Address or IP<br>
                        <input style="width: 350px;" type="text" maxlength="250" name="publish_broker_address"
                               value="{{ MQTTBrokerAddress }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Broker Port #<br>
                        <input style="width: 75px;" type="number" min="1" max="65535" name="publish_broker_port"
                               value="{{ MQTTBrokerPort }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Seconds between Publishing
                        <br>
                        <input style="width: 75px;" type="number" min="1" name="publish_seconds_wait"
                               value="{{ MQTTPublishSecondsWait }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;" for="publish_qos_level">
                        <a style="color: black;" target="_blank"
                           href="http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc385349264">
                            Quality of Service Level
                        </a>
                    </label>
                    <select name="publish_qos_level" id="publish_qos_level">
                        <option value=0 {{ PublisherQoSLevel0 }}>Level 0</option>
                        <option value=1 {{ PublisherQoSLevel1 }}>Level 1</option>
                        <option value=2 {{ PublisherQoSLevel2 }}>Level 2</option>
                    </select>
                </div>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="enable_broker_auth" {{ MQTTPublisherAuthChecked }}>
                        Enable MQTT Topic Authentication
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Username
                        <br>
                        <input style="width: 200px;" type="text" maxlength="250" name="broker_username"
                               value="{{ MQTTPublisherUsername }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Password (Optional)
                        <br>
                        <input style="width: 200px;" type="text" maxlength="250" name="broker_password">
                    </label>
                </div>

                <br><hr>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" id="SelectAllCheckboxesMQTT">
                        Select All
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <div style="text-align: center;" id="sensor-checkboxes">
                    <div class="floatboxes">
                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_system_hostname" {{ MQTTHostNameChecked }}>
                                System Host Name
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_system_uptime" {{ MQTTUptimeChecked }}>
                                Sensor Uptime
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_cpu_temp" {{ MQTTCPUTempChecked }}>
                                CPU Temperature
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_pressure" {{ MQTTPressureChecked }}>
                                Pressure
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_humidity" {{ MQTTHumidityChecked }}>
                                Humidity
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_lumen" {{ MQTTLumenChecked }}>
                                Lumen
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_ultra_violet" {{ MQTTUltraVioletChecked }}>
                                Ultra Violet
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_particulate_matter" {{ MQTTPMChecked }}>
                                Particulate Matter
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_magnetometer" {{ MQTTMagChecked }}>
                                Magnetometer
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>
                    </div>

                    <div class="floatboxes">
                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_system_ip" {{ MQTTSystemIPChecked }}>
                                System IP
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_system_date_time" {{ MQTTSystemDateTimeChecked }}>
                                System Date & Time
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_env_temp" {{ MQTTEnvTempChecked }}>
                                Environmental Temperature
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_altitude" {{ MQTTAltitudeChecked }}>
                                Altitude
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_distance" {{ MQTTDistanceChecked }}>
                                Distance
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_colours" {{ MQTTColoursChecked }}>
                                Colours
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block;">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_gas" {{ MQTTGASChecked }}>
                                Gas
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_accelerometer" {{ MQTTAccChecked }}>
                                Accelerometer
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>

                        <br>

                        <div class="mui-checkbox" style="display: inline-block">
                            <label class="container_checkbox">
                                <input type="checkbox" name="mqtt_gyroscope" {{ MQTTGyroChecked }}>
                                Gyroscope
                                <span class="checkmark_checkbox"></span>
                            </label>
                        </div>
                        <br><br>
                    </div>
                </div>

                <button type="submit" class="mui-btn mui-btn--raised">Update</button>

                <br>
                <br>
            </div>
        </form>
    </div>

    <div class="mui-tabs__pane" id="mqtt-pub-advanced-config-tab" style="text-align: center;">
        <form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;" action="/EditConfigMQTTPublisher">
        <input type="text" name="ConfigSection" value="Advanced" hidden>

            <br>
            <h3><u><strong><a style="color: black;">Sensor MQTT Topics</a></strong></u><br></h3>

            <p>
                Unless you need to change the Topics, it is recommended to leave them as default<br>
                'Readings as Dictionaries' is used for Kootnet Sensors MQTT Subscriber Recording
            </p>

            <br>

            <div class="mui-textfield">
                <label style="color: black;">
                    MQTT Base Topic(s)<br>
                    Ex. Sensor1 or Home/Sensor1<br>
                    <input style="width: 275px;" type="text" name="topic_mqtt_base_topic"
                           value="{{ MQTTBaseTopic }}">
                </label>
            </div>

            <br><br>

            <label>Send MQTT using</label>
            <div class="mui-radio" onchange="topics_hidden()">
                <label class="container_radio">
                    <input id="SendAsKootnet" type="radio" name="mqtt_send_type" value={{ SendKSFormat }} {{ SASKSChecked }}>
                    Kootnet Sensors format
                    <span class="checkmark_radio"></span>
                </label>
                <label class="container_radio">
                    <input id="SendAsIndividual" type="radio" name="mqtt_send_type" value={{ SendIndividualTopics }} {{ SASIndChecked }}>
                    Topic per sensor
                    <span class="checkmark_radio"></span>
                </label>
                <label class="container_radio">
                    <input id="SendAsCustom" type="radio" name="mqtt_send_type" value={{ SendCustomString }} {{ SASCustomChecked }}>
                    Custom Single String
                    <span class="checkmark_radio"></span>
                </label>
            </div>

            <br>

            <span id="MQTTCustomData">
                <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                    type="button" onclick="window.location.href = '/ResetMQTTPublisherCustomFormat';">
                    Reset Custom Format
                </button>

                <br>

                <label>
                    MQTT Custom Format<br>
                    <a style="color: purple;" href="/MQTTPublisherVariables" target="_blank">
                        <i>Click Here for Sensor Variables</i>
                    </a><br>
                    <textarea name="mqtt_custom_data" cols="55" rows="20">{{ MQTTCustomDataFormat }}</textarea>
                </label>
            </span>

            <button id="ResetTopics" class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                type="button" onclick="window.location.href = '/ResetMQTTPublisherTopics';">
                Reset Topics
            </button>

            <br>

            <div class="floatboxes_topics">
                <div class="mui-textfield topic_boxes">
                    <label style="color: black;">
                        Sensor Host Name
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_system_hostname"
                               value="{{ MQTTSystemHostNameTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield topic_boxes">
                    <label style="color: black;">
                        Sensor Uptime Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_system_uptime"
                               value="{{ MQTTUptimeTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        CPU Temperature Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_cpu_temp"
                               value="{{ MQTTCPUTempTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Pressure Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_pressure"
                               value="{{ MQTTPressureTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Humidity Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_humidity"
                               value="{{ MQTTHumidityTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Lumen Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_lumen"
                               value="{{ MQTTLumenTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Orange Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colour_orange"
                               value="{{ MQTTColourOrangeTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Green Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colour_green"
                               value="{{ MQTTColourGreenTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Violet Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colour_violet"
                               value="{{ MQTTColourVioletTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Ultra Violet B Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_ultra_violet_b"
                               value="{{ MQTTUVBTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gas Oxidising Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gas_oxidising"
                               value="{{ MQTTGASOxidisingTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gas NH3 Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gas_nh3"
                               value="{{ MQTTGASNH3Topic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Particulate Matter 2.5 Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_pm_2_5"
                               value="{{ MQTTPM2_5Topic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Particulate Matter 10 Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_pm_10"
                               value="{{ MQTTPM10Topic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Accelerometer Y Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_accelerometer_y"
                               value="{{ MQTTAccYTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Magnetometer X Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_magnetometer_x"
                               value="{{ MQTTMagXTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Magnetometer Z Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_magnetometer_z"
                               value="{{ MQTTMagZTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gyroscope Y Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gyroscope_y"
                               value="{{ MQTTGyroYTopic }}">
                    </label>
                </div>
            </div>

            <div class="floatboxes_topics">
                <div class="mui-textfield topic_boxes">
                    <label style="color: black;">
                        Sensor IP Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_system_ip"
                               value="{{ MQTTIPTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield topic_boxes">
                    <label style="color: black;">
                        Sensor DateTime Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_system_datetime"
                               value="{{ MQTTDateTimeTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Environmental Temperature Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_env_temp"
                               value="{{ MQTTEnvTempTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Altitude Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_altitude"
                               value="{{ MQTTAltitudeTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Distance Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_distance"
                               value="{{ MQTTDistanceTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Red Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colour_red"
                               value="{{ MQTTColourRedTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Yellow Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colour_yellow"
                               value="{{ MQTTColourYellowTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Blue Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colour_blue"
                               value="{{ MQTTColourBlueTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Ultra Violet A Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_ultra_violet_a"
                               value="{{ MQTTUVATopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gas Resistance Index Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gas_resistance_index"
                               value="{{ MQTTGASRestIndexTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gas Reducing Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gas_reducing"
                               value="{{ MQTTGASReducingTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Particulate Matter 1 Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_pm_1"
                               value="{{ MQTTPM1Topic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Particulate Matter 4 Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_pm_4"
                               value="{{ MQTTPM4Topic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Accelerometer X Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_accelerometer_x"
                               value="{{ MQTTAccXTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Accelerometer Z Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_accelerometer_z"
                               value="{{ MQTTAccZTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Magnetometer Y Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_magnetometer_y"
                               value="{{ MQTTMagYTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gyroscope X Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gyroscope_x"
                               value="{{ MQTTGyroXTopic }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Gyroscope Z Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gyroscope_z"
                               value="{{ MQTTGyroZTopic }}">
                    </label>
                </div>
            </div>

            <button type="submit" class="mui-btn mui-btn--raised">Update</button>

            <br>
            <br>
        </form>
    </div>
</div>

<script>
    jQuery('#SelectAllCheckboxesMQTT').change(function () {
        if (jQuery(this).prop('checked')) {
            jQuery("div[id=sensor-checkboxes] input:checkbox").prop('checked', true);
        } else {
            jQuery("div[id=sensor-checkboxes] input:checkbox").prop('checked', false);
        }
    });
</script>

<script>
    function topics_hidden() {
        if (document.getElementById("SendAsKootnet").checked) {
            jQuery('.floatboxes_topics').css('display','none');
            document.getElementById("MQTTCustomData").style.display = "none";
            document.getElementById("ResetTopics").style.display = "none";
        } else if (document.getElementById("SendAsIndividual").checked) {
            jQuery('.floatboxes_topics').css('display','block');
            document.getElementById("MQTTCustomData").style.display = "none";
            document.getElementById("ResetTopics").style.display = "inline-block";
        } else if (document.getElementById("SendAsCustom").checked) {
            jQuery('.floatboxes_topics').css('display','none');
            document.getElementById("MQTTCustomData").style.display = "inline-block";
            document.getElementById("ResetTopics").style.display = "none";
        }
    }
</script>
