<br>
<form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;">
    <fieldset style="text-align: center;">
        <h2>
            <u><strong><a style="color: black;" href="{{ PageURL }}">Trigger Variances</a></strong></u><br>
            <a style="color: darkgreen; font-size: medium;" href="/SensorUnitHelp.html#line4_5" target="_blank">
                Click Here for Help
            </a>
            <hr>
        </h2>
        <h5 style="color: #930a09;"><b>
            ** Warning Trigger Variances are still under active development **
            <br>
            It is recommended to check the logs periodically
        </b></h5>

        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                type="button" onclick="window.location.href = '/ResetTriggerVariances';">
            Set Seconds to Recommended
        </button>
        <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                type="button" onclick="window.location.href = '/SetTriggerVariancesLowestSeconds';">
            Set Seconds to Lowest
        </button>


        <br>
        <br>

        <div class="mui-checkbox" style="display: inline-block;">
            <label class="container_checkbox">
                <input type="checkbox" name="enable_trigger_recording" value="" {{ CheckedTrigger }}>
                Enable Trigger Variance Recording
                <span class="checkmark_checkbox"></span>
            </label>
        </div>

        <br>
        <hr>

        <h3>Per Sensor Settings</h3>

        <div class="mui-row" style="alignment: center">
            <div class="mui-col-md-4">
                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="checkbox_cpu_temperature"
                               value="" {{ CheckedCPUTemperature }}>
                        CPU Temperature
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_cpu_temperature"
                               value="{{ TriggerCPUTemperature }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_cpu_temperature"
                               value="{{ SecondsCPUTemperature }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="pressure" value="" {{ CheckedPressure }}>
                        Pressure
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_pressure"
                               value="{{ TriggerPressure }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_pressure"
                               value="{{ SecondsPressure }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="humidity" value="" {{ CheckedHumidity }}>
                        Humidity
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_humidity"
                               value="{{ TriggerHumidity }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_humidity"
                               value="{{ SecondsHumidity }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="gas" value="" {{ CheckedGas }}>
                        Gas
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Index Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_gas_index"
                               value="{{ TriggerGasIndex }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Oxidising Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_gas_oxidising"
                               value="{{ TriggerGasOxidising }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Reducing Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_gas_reducing"
                               value="{{ TriggerGasReducing }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        NH3 Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_gas_nh3"
                               value="{{ TriggerGasNH3 }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_gas"
                               value="{{ SecondsGas }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="particulate_matter" value="" {{ CheckedPM }}>
                        Particulate Matter
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        PM1 Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_pm1"
                               value="{{ TriggerPM1 }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        PM2.5 Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_pm2_5"
                               value="{{ TriggerPM25 }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        PM4 Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_pm4"
                               value="{{ TriggerPM4 }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        PM10 Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_pm10"
                               value="{{ TriggerPM10 }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_pm"
                               value="{{ SecondsPM }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="accelerometer" value="" {{ CheckedAccelerometer }}>
                        Accelerometer
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        X Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="accelerometer_x"
                               value="{{ TriggerAccelerometerX }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Y Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="accelerometer_y"
                               value="{{ TriggerAccelerometerY }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Z Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="accelerometer_z"
                               value="{{ TriggerAccelerometerZ }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_accelerometer"
                               value="{{ SecondsAccelerometer }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="magnetometer" value="" {{ CheckedMagnetometer }}>
                        Magnetometer
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        X Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="magnetometer_x"
                               value="{{ TriggerMagnetometerX }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Y Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="magnetometer_y"
                               value="{{ TriggerMagnetometerY }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Z Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="magnetometer_z"
                               value="{{ TriggerMagnetometerZ }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_magnetometer"
                               value="{{ SecondsMagnetometer }}">
                    </label>
                </div>
            </div>

            <div class="mui-col-md-4">
                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="env_temperature" value="" {{ CheckedEnvTemperature }}>
                        Environmental Temperature
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_env_temperature"
                               value="{{ TriggerEnvTemperature }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_env_temperature"
                               value="{{ SecondsEnvTemperature }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="altitude" value="" {{ CheckedAltitude }}>
                        Altitude
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_altitude"
                               value="{{ TriggerAltitude }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_altitude"
                               value="{{ SecondsAltitude }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="distance" value="" {{ CheckedDistance }}>
                        Distance
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_distance"
                               value="{{ TriggerDistance }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_distance"
                               value="{{ SecondsDistance }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="lumen" value="" {{ CheckedLumen }}>
                        Lumen
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="trigger_lumen"
                               value="{{ TriggerLumen }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_lumen"
                               value="{{ SecondsLumen }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="colour" value="" {{ CheckedColour }}>
                        Colour
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Red Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="red"
                               value="{{ TriggerRed }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Orange Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="orange"
                               value="{{ TriggerOrange }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Yellow Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="yellow"
                               value="{{ TriggerYellow }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Green Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="green"
                               value="{{ TriggerGreen }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Blue Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="blue"
                               value="{{ TriggerBlue }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Violet Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="violet"
                               value="{{ TriggerViolet }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_colour"
                               value="{{ SecondsColour }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="ultra_violet" value="" {{ CheckedUltraViolet }}>
                        Ultra Violet
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        UVA Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="ultra_violet_a"
                               value="{{ TriggerUltraVioletA }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        UVB Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="ultra_violet_b"
                               value="{{ TriggerUltraVioletB }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_ultra_violet"
                               value="{{ SecondsUltraViolet }}">
                    </label>
                </div>

                <br>

                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="gyroscope" value="" {{ CheckedGyroscope }}>
                        Gyroscope
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        X Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="gyroscope_x"
                               value="{{ TriggerGyroscopeX }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Y Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="gyroscope_y"
                               value="{{ TriggerGyroscopeY }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Z Trigger variance<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="gyroscope_z"
                               value="{{ TriggerGyroscopeZ }}">
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Seconds between readings<br>
                        <input style="width: 75px;" type="number" min=0 step="any" name="seconds_gyroscope"
                               value="{{ SecondsGyroscope }}">
                    </label>
                </div>
            </div>
        </div>

        <br>

        <button type="submit" class="mui-btn mui-btn--raised" formaction="/EditTriggerVariances">Update</button>
    </fieldset>
</form>
