<div class="mui-tabs__pane" id="mqtt-subscriber-tab">
    <form id="mqtt-form" class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;"
          action="/EditConfigMQTTSubscriber">
        <fieldset style="text-align: center;">
            <h3>
                <u><strong><a style="color: black;" href="http://mqtt.org/" target="_blank">
                    MQTT Subscriber Configuration
                </a></strong></u><br>
                <a style="color: darkgreen; font-size: medium;" href="/SensorUnitHelp.html#line6_2" target="_blank">
                    Click Here for Help
                </a>
                <hr>
            </h3>

            <button class="mui-btn mui-btn--raised mui--bg-color-indigo-900 mui--color-blue-200"
                    type="button" onclick="window.open('/MQTTSubscriberView', '_blank');">
                Click Here to View Subscriber Data Stream
            </button>

            <br>
            <br>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_mqtt_subscriber" value="" {{ MQTTSubscriberChecked }}>
                    Enable MQTT Subscriber
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Broker Address or IP
                    <br>
                    <input style="width: 350px;" type="text" maxlength="250" name="sub_broker_address"
                           value="{{ MQTTBrokerAddress }}">
                </label>
            </div>

            <br>

            <div class="mui-textfield">
                <label style="color: black;">
                    Broker Port #
                    <br>
                    <input style="width: 75px;" type="number" min="1" max="65535" name="sub_broker_port"
                           value="{{ MQTTBrokerPort }}">
                </label>
            </div>

            <br>

            <div class="mui-textfield">
                <label style="color: black;" for="mqtt_qos_level">
                    <a style="color: black;" target="_blank"
                       href="http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc385349264">
                        Quality of Service Level
                    </a>
                </label>
                <select name="mqtt_qos_level" id="mqtt_qos_level">
                    <option value=0 {{ MQTTQoSLevel0 }}>Level 0</option>
                    <option value=1 {{ MQTTQoSLevel1 }}>Level 1</option>
                    <option value=2 {{ MQTTQoSLevel2 }}>Level 2</option>
                </select>
            </div>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_broker_auth" value="" {{ MQTTSubscriberAuthChecked }}>
                    Enable MQTT Authentication
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Username
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_username"
                           value="{{ MQTTSubscriberUsername }}">
                </label>
            </div>

            <br>

            <div class="mui-textfield">
                <label style="color: black;">
                    Password (Optional)
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_password">
                </label>
            </div>

            <br>
            <hr>

            <label>
                <a style="color: black;" target="_blank"
                   href="https://docs.solace.com/Open-APIs-Protocols/MQTT/MQTT-Topics.htm">
                    MQTT Topics
                </a>
                <br>
                <i>Add one or more Topics separated by a comma Eg. KS/Sensor1/Temp,KS/Sensor2/Temp</i>
                <br>
                <br>
                <textarea name="subscriber_topics" cols="60" rows="20">{{ SubscriberTopics }}</textarea>
            </label>
            <br>
            <br>
            <button type="submit" class="mui-btn mui-btn--raised">Update</button>
        </fieldset>
    </form>
</div>
