<div class="mui-tabs__pane" id="luftdaten-tab">
    <div class="mui-container-fluid">
        <form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;"
              action="/EditOnlineServicesLuftdaten">
            <fieldset style="text-align: center">
                <h3>
                    <u><strong><a style="color: black;" href="{{ PageURL }}">Luftdaten</a></strong></u><br>
                    <a style="color: darkgreen; font-size: medium;" href="/SensorUnitHelp.html#line6_3" target="_blank">
                        Click Here for Help
                    </a>
                </h3>

                <h5><b>
                    This will upload all compatible sensor readings to
                    <a style="color: black" href="https://luftdaten.info/" target="_blank"><u>
                        Luftdaten
                    </u></a>
                </b></h5>

                <div class="mui-textfield">
                    <label style="color: black">
                        Sensor ID
                        <br>
                        <input style="width: 175px" type="text" maxlength="100" name="station_id"
                               value="{{ LuftdatenStationID }}" disabled>
                    </label>
                </div>

                <br>

                <div class="mui-checkbox">
                    <label class="container_checkbox">
                        <input type="checkbox" id="luftdaten_enabled" name="enable_luftdaten"
                               value="" {{ CheckedLuftdatenEnabled }}>
                        Enable Luftdaten
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black">
                        Seconds between Updates
                        <br>
                        <input style="width: 75px" type="number" min="1" name="station_interval"
                               value="{{ LuftdatenIntervalSeconds }}" {{ DisabledLuftdatenInterval }}>
                    </label>
                </div>
                <br>
                <button type="submit" class="mui-btn mui-btn--raised">Update</button>
            </fieldset>
        </form>
    </div>
</div>
