<div class="mui-tabs__pane" id="mqtt-broker-tab">
    <form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;"
          action="/EditConfigMQTTBroker">
        <fieldset style="text-align: center;">
            <h3>
                <u><strong><a style="color: black;" href="{{ PageURL }}">MQTT Broker Configuration</a></strong></u><br>
                <a style="color: darkgreen; font-size: medium;" href="/SensorUnitHelp.html#line5_3" target="_blank">
                    Click Here for Help
                </a>
            </h3>

            <h5><b>
                Enable & Start a local
                <a style="color: black;" href="https://en.wikipedia.org/wiki/MQTT#MQTT_broker" target="_blank"><u>
                    MQTT Broker</u></a>
                 (Receive Readings)
            </b></h5>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_broker_server" value="" {{ BrokerServerChecked }}>
                    Enable Mosquitto MQTT Broker
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <br>

            <label>
                <a style="color: black;" target="_blank"
                   href="https://github.com/eclipse/mosquitto/blob/master/mosquitto.conf"><u>
                    Mosquitto Configuration
                </u></a>
                <br>
                <i>Leave Configuration Blank for a default open MQTT Broker</i>
                <br>
                <br>
                <textarea name="mosquitto_config" cols="60" rows="20">{{ BrokerMosquittoConfig }}</textarea>
            </label>

            <br>
            <br>

            <button type="submit" class="mui-btn mui-btn--raised">Update</button>
        </fieldset>
    </form>
</div>
