<div class="mui-tabs__pane" id="mqtt-subscriber-tab">
    <form id="mqtt-form" class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;"
          action="/EditConfigMQTTSubscriber">
        <fieldset style="text-align: center;">
            <h3><u><strong><a style="color: black;" href="{{ PageURL }}">MQTT Subscriber Configuration</a></strong></u></h3>

            <hr>

            <h5><b>
                Subscribe to a
                <a style="color: black;" href="http://mqtt.org/" target="_blank"><u>MQTT</u></a> Broker (View)
            </b></h5>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_mqtt_subscriber" value="" {{ MQTTSubscriberChecked }}>
                    Enable MQTT Subscriber
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Broker Address or IP
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="sub_broker_address"
                           value="{{ MQTTBrokerAddress }}">
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Broker Port #
                    <br>
                    <input style="width: 75px;" type="number" min="1" max="65535" name="sub_broker_port"
                           value="{{ MQTTBrokerPort }}">
                </label>
            </div>

            <br>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_broker_auth" value="" {{ MQTTSubscriberAuthChecked }}>
                    Enable MQTT Authentication
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Username
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_username"
                           value="{{ MQTTSubscriberUsername }}">
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Password (Optional)
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_password">
                </label>
            </div>

            <br>

            <label>
                <a style="color: black;" target="_blank" href="https://docs.solace.com/Open-APIs-Protocols/MQTT/MQTT-Topics.htm">
                    MQTT Topics
                </a>
                <br>
                <i>Add one or more Topics separated by a comma Eg. KS/Sensor1/Temp,KS/Sensor2/Temp</i>
                <br>
                <br>
                <textarea name="subscriber_topics" cols="60" rows="20">{{ SubscriberTopics }}</textarea>
            </label>
            <br>
            <br>
            <button type="submit" class="mui-btn mui-btn--raised">Update</button>
        </fieldset>
    </form>
</div>
