<div class="mui-tabs__pane" id="mqtt-broker-tab">
    <form class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;"
          action="/EditConfigMQTTBroker">
        <fieldset style="text-align: center;">
            <h3><u><strong><a style="color: black;" href="{{ PageURL }}">MQTT Broker Configuration</a></strong></u></h3>

            <h5><b>
                This will Enable & Start a local
                <a style="color: black;" href="https://en.wikipedia.org/wiki/MQTT#MQTT_broker" target="_blank"><u>
                    MQTT Broker
                </u></a>
            </b></h5>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="EnableMQTTBrokerServer" value="" {{ MQTTBrokerServerChecked }} disabled>
                    Enable MQTT Broker Server
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <br>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_mqtt_auth" value="" {{ MQTTBrokerAuthChecked }}>
                    Enable MQTT Topic Authentication
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Username
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_username"
                           value="{{ MQTTBrokerUsername }}" {{ DisabledMQTTBrokerUsername }}>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Password
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_password"
                            {{ DisabledMQTTBrokerPassword }}>
                </label>
            </div>

            <br>

            <button type="submit" class="mui-btn mui-btn--raised">Update</button>
        </fieldset>
    </form>
</div>
