<style>
    #floatboxes {
        float: left;
        width: 50%;
        height: auto;
    }
</style>

<div class="mui-tabs__pane" id="mqtt-publisher-tab">
    <form id="mqtt-form" class="mui-form" method="POST" style="max-width: 550px; min-height: 300px;"
          action="/EditConfigMQTTPublisher">
        <fieldset style="text-align: center;">
            <h3><u><strong>
                <a style="color: black;" href="{{ PageURL }}">MQTT Publisher Configuration</a>
            </strong></u></h3>

            <hr>

            <h5><b>
                Publish (Send) Sensor readings to a
                <a style="color: black;" href="http://mqtt.org/" target="_blank"><u>MQTT</u></a> Broker
            </b></h5>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_mqtt_publisher" value="" {{ MQTTPublisherChecked }}>
                    Enable MQTT Publisher
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Broker DNS Address or IP
                    <br>
                    <input style="width: 350px;" type="text" maxlength="250" name="publish_broker_address"
                           value="{{ MQTTBrokerAddress }}">
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Broker Port #
                    <br>
                    <input style="width: 75px;" type="number" min="1" max="65535" name="publish_broker_port"
                           value="{{ MQTTBrokerPort }}">
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Seconds between Publishing
                    <br>
                    <input style="width: 75px;" type="number" min="1" name="publish_seconds_wait"
                           value="{{ MQTTPublishSecondsWait }}">
                </label>
            </div>

            <br>

            <div class="mui-textfield">
                <label style="color: black;" for="publish_qos_level">
                    <a style="color: black;" target="_blank"
                       href="http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc385349264">
                        Quality of Service Level
                    </a>
                </label>
                <select name="publish_qos_level" id="publish_qos_level">
                    <option value=0 {{ PublisherQoSLevel0 }}>Level 0</option>
                    <option value=1 {{ PublisherQoSLevel1 }}>Level 1</option>
                    <option value=2 {{ PublisherQoSLevel2 }}>Level 2</option>
                </select>
            </div>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" name="enable_broker_auth" value="" {{ MQTTPublisherAuthChecked }}>
                    Enable MQTT Topic Authentication
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Username
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_username"
                           value="{{ MQTTPublisherUsername }}">
                </label>
            </div>

            <div class="mui-textfield">
                <label style="color: black;">
                    Password (Optional)
                    <br>
                    <input style="width: 200px;" type="text" maxlength="250" name="broker_password">
                </label>
            </div>

            <br>

            <h3><u><strong>Sensors to Publish</strong></u></h3>

            <div class="mui-checkbox" style="display: inline-block;">
                <label class="container_checkbox">
                    <input type="checkbox" id="SelectAllCheckboxesMQTT" value="">
                    Select All
                    <span class="checkmark_checkbox"></span>
                </label>
            </div>

            <br>

            <div id="sensor-checkboxes">
                <div class="mui-checkbox" style="display: inline-block;">
                    <label class="container_checkbox">
                        <input type="checkbox" name="mqtt_system_uptime" value="" {{ MQTTUptimeChecked }}>
                        Sensor Uptime
                        <span class="checkmark_checkbox"></span>
                    </label>
                </div>

                <br>

                <div class="mui-textfield">
                    <label style="color: black;">
                        Topic
                        <br>
                        <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_system_uptime"
                               value="{{ MQTTUptimeTopic }}">
                    </label>
                </div>
                <div id="floatboxes">
                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_cpu_temp" value="" {{ MQTTCPUTempChecked }}>
                            CPU Temperature
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_cpu_temp"
                                   value="{{ MQTTCPUTempTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_env_temp" value="" {{ MQTTEnvTempChecked }}>
                            Environmental Temperature
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_env_temp"
                                   value="{{ MQTTEnvTempTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_pressure" value="" {{ MQTTPressureChecked }}>
                            Pressure
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_pressure"
                                   value="{{ MQTTPressureTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_altitude" value="" {{ MQTTAltitudeChecked }}>
                            Altitude
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_altitude"
                                   value="{{ MQTTAltitudeTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_humidity" value="" {{ MQTTHumidityChecked }}>
                            Humidity
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_humidity"
                                   value="{{ MQTTHumidityTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_distance" value="" {{ MQTTDistanceChecked }}>
                            Distance
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_distance"
                                   value="{{ MQTTDistanceTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block;">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_gas" value="" {{ MQTTGASChecked }}>
                            Gas
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gas"
                                   value="{{ MQTTGASTopic }}">
                        </label>
                    </div>
                </div>

                <div id="floatboxes">
                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_particulate_matter" value="" {{ MQTTPMChecked }}>
                            Particulate Matter
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250"
                                   name="topic_mqtt_particulate_matter"
                                   value="{{ MQTTPMTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_lumen" value="" {{ MQTTLumenChecked }}>
                            Lumen
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_lumen"
                                   value="{{ MQTTLumenTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_colours" value="" {{ MQTTColoursChecked }}>
                            Colours
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_colours"
                                   value="{{ MQTTColoursTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_ultra_violet" value="" {{ MQTTUltraVioletChecked }}>
                            Ultra Violet
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_ultra_violet"
                                   value="{{ MQTTUltraVioletTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_accelerometer" value="" {{ MQTTAccChecked }}>
                            Accelerometer
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_accelerometer"
                                   value="{{ MQTTAccTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_magnetometer" value="" {{ MQTTMagChecked }}>
                            Magnetometer
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_magnetometer"
                                   value="{{ MQTTMagTopic }}">
                        </label>
                    </div>

                    <br>

                    <div class="mui-checkbox" style="display: inline-block">
                        <label class="container_checkbox">
                            <input type="checkbox" name="mqtt_gyroscope" value="" {{ MQTTGyroChecked }}>
                            Gyroscope
                            <span class="checkmark_checkbox"></span>
                        </label>
                    </div>

                    <br>

                    <div class="mui-textfield">
                        <label style="color: black;">
                            Topic
                            <br>
                            <input style="width: 250px;" type="text" maxlength="250" name="topic_mqtt_gyroscope"
                                   value="{{ MQTTGyroTopic }}">
                        </label>
                    </div>
                </div>
            </div>
            <a style="color: #00B0FF;">.</a>
            <br>
            <a style="color: #00B0FF;">.</a>
            <br>
            <button type="submit" class="mui-btn mui-btn--raised">Update</button>
        </fieldset>
    </form>
</div>

<script>
    jQuery('#SelectAllCheckboxesMQTT').change(function () {
        if (jQuery(this).prop('checked')) {
            jQuery("div[id=sensor-checkboxes] input:checkbox").prop('checked', true);
        } else {
            jQuery("div[id=sensor-checkboxes] input:checkbox").prop('checked', false);
        }
    });
</script>
