[Unit]
Description=KootNet Sensors - SMB Upgrade Developmental

[Service]
Type=simple
Restart=no
User=root
Group=root
ExecStart=/bin/bash /home/kootnet_data/scripts/update_kootnet-sensors_smb.sh dev

[Install]
WantedBy=multi-user.target
