[Unit]
Description=KootNet Sensors - Clean SMB Upgrade

[Service]
Type=simple
Restart=no
User=root
Group=root
ExecStart=/bin/bash /home/kootnet_data/scripts/clean_upgrade_smb.sh dev

[Install]
WantedBy=multi-user.target
