.pure-menu {
    font-weight: bolder;
    display: inline-block;
}

.pure-menu-children {
    background-color: var(--main-bg-color);
}

.pure-menu-link, .pure-menu-link:visited {
    font-weight: bolder;
    color: var(--main-color);
}

.pure-menu-selected > .pure-menu-link, .pure-menu-selected > .pure-menu-link:visited {
    font-weight: bolder;
    color: red;
    background-color: var(--second-bg-color);
}

.pure-menu-link:hover {
    font-weight: bolder;
    background-color: var(--menu-hover-bg-color);
}

.pure-button {
    background-color: var(--button-bg-color);
}
