<div class="lcars-text-bar"><span>Sensor Readings</span></div>

<div class="data-cascade">
    {{ WaterFallData | safe }}
</div>

<div style="display: table; margin-left: auto; margin-right: auto;">
    <div style="display: table-row;">
        <div style="display: table-cell;">
            <div class="buttons">
                <a class="two-rows" style="text-align: center;" href="/LCARS/PlayPauseReadingsAutoUpdate">
                    {{ ButtonName | safe }}
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function RefreshPageTimed() {
        window.location = "/LCARS/"
    }

    {{ AutoRefreshScript | safe }}
</script>
