Package: kootnet-sensors
Version: 0.29-95
Section: utils
Priority: extra
Architecture: all
Depends: python3 (>= 3.5.0), python3-dev, python3-venv, bash, wget, openssl
Recommends: fake-hwclock, cifs-utils, libatlas3-base, sense-hat, libopenjp2-7, libtiff-dev
Maintainer: Chad Ermacora <chad.e@linux.com>
Homepage: https://github.com/chad-ermacora/sensor-rp
Description: Kootnet Sensors
 Record & Monitor Sensor Readings. 
 Manage through the HTTPS portal at https://localhost:10065 
